<% RecordType.where(model: 'Cell').each do |cell| %>

<div class="modal fade" id="draggable<%= cell.machine_name %>" aria-hidden="true">
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
      <h4 class="modal-title"><%= cell.name %></h4>
    </div>
    <div class="modal-body"><%= form_for([:admin, @cell], remote: true, html: {class: 'cell', multipart: true}) do |f| %>
      <% if @cell.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@cell.errors.count, "error") %> prohibited this cell from being saved:</h2>

        <ul>
          <% @cell.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
      <% end %>
      <%= f.hidden_field :record_type_id, value: cell.id %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= hidden_field_tag :mid_main, @block.id %>
      <%= hidden_field_tag :model_main, @block.model_name.name %>

      <% cell.fcis.each do |fci| %>
      <% parsed = JSON.parse(fci.field_custom.value) %>
      <% @fci = fci %>
      <%= render parsed['render'], locals: @fci, object: @model %>
      <% end %>

      <div class="form-group">
        <label class="col-md-3 control-label"><%= t('public') %></label>
        <div class="col-md-9">

         <%= f.check_box :public, class: 'form-control' %>
         <span class="help-block"> <br/>  </span>
       </div>
     </div>

     <div class="form-group">
      <label class="col-md-3 control-label"><%= t('position') %></label>
      <div class="col-md-9">
       <%= f.number_field :position, class: 'form-control' %>
       <span class="help-block"> <br/>  </span>
     </div>
   </div>

   <div class="form-group">
    <label class="col-md-3 control-label"><%= t('group') %></label>
    <div class="col-md-9">
     <%= f.text_field :group, class: 'form-control' %>
     <span class="help-block"> <br/>  </span>
   </div>
 </div>

</div>
<div class="modal-footer">
  <button type="button" class="btn dark btn-outline" data-dismiss="modal"><%= t('close') %></button>
  <%= f.submit t('save'), class: 'btn green' %>
  <% end %>
</div>
</div>
<!-- /.modal-content -->

<!-- /.modal-dialog -->
</div>
<% end %>