<%= paginate @cells, remote: true %>

<table class="table table-striped table-bordered table-hover">
  <% unless @cells.empty? %>
  <thead>
    <tr>
      <th><%= t('id') %></th>
      <th><%= t('public') %></th>
      <% @cells.first.fcis.limit(5).each do |fci| %>
      <th><%= fci.name %></th>
      <% end %>
      <th><%= t('action') %></th>
    </tr>
  </thead>
  <tbody>

    <% @cells.each do |cell| %>
    <tr>
      <td><%= cell.id %></td>
      <td>
        <% if cell.public? %>
        <i class="glyphicon glyphicon-ok-circle"></i>
        <% else %>
        <i class="glyphicon glyphicon-remove-circle"></i>
        <% end %></td>
        <% cell.fcis.limit(5).each do |namefield| %>
        <% if namefield.active? %>
        <td><%= field(cell, namefield.machine_name) %></td>
        <% end %>
        <% end %>
        <td>
          <a class='glyphicon glyphicon-pencil' data-toggle="modal" href="#draggable<%= cell.id %>"></a>
          <%= link_to '', [:admin, cell], remote: true, method: :delete, data: {confirm: 'Are you sure?'}, class: 'glyphicon glyphicon-remove' %>
          <div class="modal fade" id="draggable<%= cell.id %>" aria-hidden="true">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title"><%= cell.id %></h4>
              </div>
              <div class="modal-body">
                <%= form_for([:admin, cell], html: {class: 'form-horizontal record', multipart: true}) do |f| %>
                <% if cell.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(cell.errors.count, "error") %> prohibited this cell from being
                    saved:</h2>

                    <ul>
                      <% cell.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
                  <% end %>
                  <%= render 'admin/shared/fci/fci_in_model_form', locale: @model=cell %>

                  <div class="form-group">
                    <label class="col-md-3 control-label"><%= t('public') %></label>
                    <div class="col-md-9">

                     <%= f.check_box :public, class: 'form-control' %>
                     <span class="help-block"> <br/>  </span>
                   </div>
                 </div>

                 <div class="form-group">
                  <label class="col-md-3 control-label"><%= t('position') %></label>
                  <div class="col-md-9">
                   <%= f.number_field :position, class: 'form-control' %>
                   <span class="help-block"> <br/>  </span>
                 </div>
               </div>
               <div class="form-group">
                <label class="col-md-3 control-label"><%= t('group') %></label>
                <div class="col-md-9">
                 <%= f.text_field :group, class: 'form-control' %>
                 <span class="help-block"> <br/>  </span>
               </div>
             </div>

             <div class="actions">
             <%= f.submit t('save'), class: 'btn green' %>
            </div>
            <% end %>

          </div>
        </div>
      </div>
    </td>
    <% end %>
  </tr>
</tbody>
<% end %>
</table>
<%= paginate @cells, remote: true %>