<%= form_for([:admin, @block], html: {class: 'form', multipart: true}) do |f| %>
    <% if @block.errors.any? %>
        <div id="error_explanation" class="panel panel-danger">
          <div class="panel-heading">
            <h2 class="panel-title"><%= pluralize(@block.errors.count, "error") %> prohibited this block from being
              saved:</h2>
          </div>
          <div class="panel-body">
            <ul>
              <% @block.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
    <div class="tabbable-line">
      <ul class="nav nav-tabs ">
        <li class="active">
          <a href="#tab_1" data-toggle="tab">
            <%= t('standart_field') %></a>
        </li>
        <li>
          <a href="#tab_2" data-toggle="tab">
            <%= t('dop_field') %></a>
        </li>
        <% unless @block.entity == 'system' %>
            <li>
              <%= link_to admin_blocks_relationpage_path(@block), method: :get do %>
                  <%= t('relation') %>
              <% end %>
            </li>
        <% end %>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab_1">
          <div class="well">
            <div class="form-group form-md-line-input form-md-floating-label">
              <%= f.text_field :name, class: 'form-control', id: 'form_control_1' %>
              <label for="form_control_1"><%= t(:name_block) %></label>
              <span class="help-block"><%= t('enter name') %></span>
            </div>
          </div>
          <div class="well">
            <div class="form-group form-md-line-input form-md-floating-label has-info">
              <%= f.collection_select :record_type_id, RecordType.where(model: 'Block').all, :id, :name, {}, {class: 'form-control edited', id: 'form_control_1'} %>
              <label for="form_control_1"><%= t(:type) %></label>
              <span class="help-block"><%= t(:type_desc) %></span>
            </div>
          </div>
          <div class="well">
            <div class="form-group md-checkbox">
              <%= f.check_box :public, :checked => 'checked', id: "checkbox30", class: "md-check" %>
              <label for="checkbox30">
                <span class="inc"></span>
                <span class="check"></span>
                <span class="box"></span>
                <%= t(:public) %> </label>
            </div>
          </div>
          <%= render 'admin/shared/fci/fci_in_model_form', locale: @model=@block %>
        </div>
        <div class="tab-pane" id="tab_2">
          <div class="well">
            <div class="form-group form-md-line-input form-md-floating-label">
              <%= f.text_field :region, class: 'form-control', id: 'form_control_1' %>
              <label for="form_control_1"><%= t(:region_block) %></label>
              <span class="help-block"><%= t('region_bldesc') %></span>
            </div>
          </div>
          <div class="well">
            <div class="form-group form-md-line-input form-md-floating-label">

              <%= select("block", "type_url", [[t('enter'), 'enter'], [t('only_urls'), 'only_urls'], [t('except_urls'), 'except_urls']], {class: 'form-control'})
              %>
              <label for="form_control_1"><%= t(:type_url) %></label>
              <span class="help-block"><%= t('type_urldesc') %></span>
            </div>
          </div>
          <div class="well">
            <div class="form-group form-md-line-input form-md-floating-label">
              <%= f.text_area :url, class: 'form-control', id: 'form_control_1' %>
              <label for="form_control_1"><%= t(:url_block) %></label>
              <span class="help-block"><%= t('block_urldesc') %></span>
            </div>
          </div>
          <div class="well">
            <div class="form-group form-md-line-input form-md-floating-label">
              <%= f.text_field :csscls, class: 'form-control', id: 'form_control_1' %>
              <label for="form_control_1"><%= t(:csscls) %></label>
              <span class="help-block"><%= t('cssclsdesc') %></span>
            </div>
          </div>
          <div class="well">
            <div class="form-group form-md-line-input form-md-floating-label">
              <%= f.text_field :machine_name, class: 'form-control', id: 'form_control_1' %>
              <label for="form_control_1"><%= t(:machine_name) %></label>
              <span class="help-block"><%= t('machine_namedesc') %></span>
            </div>
          </div>
          <div class="well">
            <div class="form-group md-checkbox">
              <%= f.check_box :system, id: "checkbox0099", class: "md-check" %>
              <label for="checkbox0099">
                <span class="inc"></span>
                <span class="check"></span>
                <span class="box"></span>
                <%= t(:system) %> </label>
            </div>
          </div>
        </div>


      </div>
    </div>
    <div class="fixed_link">
    <span class="input-group-btn">
        <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t(:show), [:admin, @block], class: 'btn btn-default' %>
      <%= link_to t(:back), admin_blocks_path, class: 'btn btn-default' %>
</span>
<% end %>
