<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('editing block') %>
  <% unless @block.entity == 'system' %> <%= @block.record_type.name unless @block.record_type.nil? %> - <%= @block.title unless @block.record_type.nil? %>
  <% end %>
</h3>

<%= render 'form' %>