<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('listing blocks') %>
  <small><%= t('blocks desc index') %></small>
</h3>
<div class="well">
  <div class="portlet light">
    <div class="portlet-title">
      <div class="caption font-green">
        <i class="icon-pin font-green"></i>
        <span class="caption-subject bold uppercase"> <%= t('new block') %></span>
      </div>
    </div>
    <div class="portlet-body">
      <%= form_for([:admin, @block], html: {class: 'block', multipart: true}) do |f| %>
      <% if @block.errors.any? %>
      <% @block.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
      <% end %>
      <% end %>

      <div class="col-md-4">
        <div class="form-group">
          <label class="col-md-3 control-label"><%= t(:name_block) %></label>
          <div class="col-md-9">
            <%= f.text_field :name, class: 'form-control' %>
            <span class="help-block"> <%= t('enter name') %>  </span>
          </div>
        </div>
      </div>
      <div class="col-md-5">
        <div class="form-group">
          <label class="col-md-3 control-label"><%= t(:type) %></label>
          <div class="col-md-9">
            <%= f.collection_select :record_type_id, RecordType.where(model: 'Block').all, :id, :name, {}, {class: 'form-control edited', id: 'form_control_1'} %>
            <span class="help-block"> <%= t(:type_desc) %></span>
          </div>
        </div>
      </div>
      <%= f.hidden_field :region, value: '' '' %>
      <div class="col-md-3">
        <div class="form-group">
        <label class="col-md-5 control-label"><%= t(:public) %></label>
          <div class="col-md-7">
            <%= f.check_box :public %>

          </div>
          <span class="help-block"> </br></span>
          <span class="input-group-btn btn-right">
            <%= f.submit t('create block'), class: 'btn btn-primary' %>
          </span>
        </div>
      </div>

      <% end %>
    </div>
  </div>

  <br>
  <br>
  <br>
  <br>
  <div id="row">
    <% theme_setting['regions'].each do |region, details| %>
    <h4>
      <%= t('region theme') %> - <%= details %>
    </h4>
    <ul data-id="<%= region.downcase %>" id="sortable-head" class="sortable-block">
      <li class="clearfix header dontsortme no-nest">
        <div class="listitem-drag">
         <i class="icon-cursor-move"></i>
        </div>
        <div class="listitem-name" style="width:80%;">
          <%= t('block info') %>
        </div>
        <div class="listitem-action" style="width:10%;">
           <%= t(:action) %>
        </div>
      </li>
    </ul>
    <ul data-id="<%= region.downcase %>" class="sortable-block">
      <% @blocks.where(region: region).each do |block| %>
      <li data-id="<%= block.id %>" class="no-nest">
        <div class="listitem-drag handle"><i class="icon-cursor-move"></i></div>
        <div class="listitem-name" style="width:80%;">(<%= block.id %>) <b><%= block.name %></b>
          - <%= block.record_type.name unless block.record_type.nil? %> - <%= block.machine_name %></div>
          <div class="listitem-action" style="width:10%;">
            <%= link_to ' ', [:admin, block], class: 'glyphicon glyphicon-eye-open' %>
            <%= link_to ' ', edit_admin_block_path(block), class: 'glyphicon glyphicon-pencil' %>
            <%= link_to ' ', [:admin, block], method: :delete, data: {confirm: 'Are you sure?'}, class: 'glyphicon glyphicon-remove' %>
          </div>
        </li>
        <% end %>
      </ul>
    </br>
    <% end %>
  </br>
  <h4>
    <%= t('not activated') %>
  </h4>
  <ul id="sortable-head" class="sortable-block">
    <li class="clearfix header dontsortme no-nest">
      <div class="listitem-drag">
       <i class="icon-cursor-move"></i>
      </div>
      <div class="listitem-name" style="width:80%;">
        <%= t('block info') %>
      </div>
      <div class="listitem-action" style="width:10%;">
       <%= t(:action) %>
      </div>
    </li>
  </ul>
  <ul data-id="" class="sortable-block">
    <% @blocks.where("blocks.region = ? OR blocks.region = ?", '', 'undefined').each do |block| %>
    <li data-id="<%= block.id %>" class="no-nest">
      <div class="listitem-drag handle"><i class="icon-cursor-move"></i></div>
      <div class="listitem-name" style="width:80%;"><b><%= block.name %></b>
        - <%= block.record_type.name unless block.record_type.nil? %>  - <%= block.machine_name %></div>
        <div class="listitem-action" style="width:10%;">
          <%= link_to ' ', [:admin, block], class: 'glyphicon glyphicon-eye-open' %>
          <%= link_to ' ', edit_admin_block_path(block), class: 'glyphicon glyphicon-pencil' %>
          <%= link_to ' ', [:admin, block], method: :delete, data: {confirm: 'Are you sure?'}, class: 'glyphicon glyphicon-remove' %>
        </div>
      </li>
      <% end %>
    </ul>
  </div>
</div>