<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t(:relation) %> <%= @block.record_type.name %> - <%= @block.title %>
</h3>
<div class="tabbable-line">
  <ul id="editf" class="nav nav-tabs">
    <li>
      <a href="<%= edit_admin_block_path(@block) %>">
        <%= t('standart_field') %></a>
    </li>
    <li>
      <a href="<%= edit_admin_block_path(@block) %>#dop">
        <%= t('dop_field') %></a>
    </li>
    <li class="active">
      <%= link_to admin_blocks_relationpage_path(@block), method: :get do %>
          <%= t('relation') %>
      <% end %>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active">
      <% RecordType.where(model: 'Cell').each do |cell| %>
          <a class="btn red btn-outline sbold" data-toggle="modal" href="#draggable<%= cell.machine_name %>"> <%= cell.name %> </a>
      <% end %>
      </br>
      </br>
      </br>
      <%= render :partial => 'cells_list', locals: {block: @block} %>
      <div class="row">
        <div class="col-md-12">
          <div class="portlet box purple">
            <div class="portlet-title">
              <div class="caption">
                <i class="icon-pin"></i>
                <span class="caption-subject bold uppercase"> <%= t('Current_relation_cell') %></span>
              </div>
            </div>
            <div class="portlet-body">
              <%= search_form_for @searchcell, url: admin_blocks_relationpage_path(@block), remote: true do |f| %>
                  <div class="col-md-3">
                    <div class="form-group form-md-line-input form-md-floating-label">
                      <%= f.collection_select :record_type_id_eq, RecordType.where(model: 'Cell').all, :id, :name, {}, {class: 'form-control edited', id: 'form_control_1'} %>
                      <label for="form_control_1"><%= t(:type) %></label>
                    </div>
                  </div>
                  <div class="col-md-3">
                    <div class="form-group md-checkbox">
                      <%= f.check_box :public_eq, :checked => 'checked', id: "checkbox29", class: "md-check" %>
                      <label for="checkbox29">
                        <span class="inc"></span>
                        <span class="check"></span>
                        <span class="box"></span>
                        <%= t(:publiced) %> </label>
                    </div>
                  </div>
                  <div class="col-md-3">
              <span class="input-group-btn btn-right">
    <%= f.submit t('search'), class: 'btn btn-primary' %>
                        </span>
                  </div>
              <% end %>
              <ul id="current-cell">
                <%= render :partial => 'current_cells_list' %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
