<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @block.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Region:</strong></dt>
  <dd><%= @block.region %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Type url:</strong></dt>
  <dd><%= @block.type_url %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Url:</strong></dt>
  <dd><%= @block.url %></dd>
</dl>


<dl class="dl-horizontal">
  <dt><strong>Csscls:</strong></dt>
  <dd><%= @block.csscls %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Machine name:</strong></dt>
  <dd><%= @block.machine_name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Public:</strong></dt>
  <dd><%= @block.public %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Position:</strong></dt>
  <dd><%= @block.position %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>System:</strong></dt>
  <dd><%= @block.system %></dd>
</dl>

<%= link_to t(:edit), edit_admin_block_path(@block), class: 'btn btn-default' %>
<%= link_to t(:back), admin_blocks_path, class: 'btn btn-default' %>
