<%= form_for([:admin, @comment]) do |f| %>
    <% if @comment.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

          <ul>
            <% @comment.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.text_field :user_id %>
    </div>
    <div class="field">
      <%= f.label :record_type_id %><br>
      <%= f.text_field :record_type_id %>
    </div>
    <div class="field">
      <%= f.label :mid %><br>
      <%= f.number_field :mid %>
    </div>
    <div class="field">
      <%= f.label :model %><br>
      <%= f.text_field :model %>
    </div>
    <div class="field">
      <%= f.label :ancestry %><br>
      <%= f.text_field :ancestry %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
