<h1>Listing comments</h1>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Record type</th>
    <th>Mid</th>
    <th>Model</th>
    <th>Ancestry</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user %></td>
        <td><%= comment.record_type %></td>
        <td><%= comment.mid %></td>
        <td><%= comment.model %></td>
        <td><%= comment.ancestry %></td>
        <td><%= link_to t(:show), [:admin, comment] %></td>
        <td><%= link_to t(:edit), edit_admin_comment_path(comment) %></td>
        <td><%= link_to t(:destroy), [:admin, comment], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_admin_comment_path %>
