<% fci_decimals = FciDecimal.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id) %>
<% if fci_decimals.empty? %>
         <div class="form-group">
                          <label class="col-md-3 control-label"><%= @fci.name %></label>
                          <div class="col-md-9">
                           <%= number_field_tag ":fci_decimal_value"+@fci.machine_name, false, :step => 'any', class: 'form-control' %>
                            <span class="help-block"> <br/>  </span>
                          </div>
                        </div>
<% else %>
    <% fci_decimals.each do |decimal| %>

                 <div class="form-group">
                          <label class="col-md-3 control-label"><%= @fci.name %></label>
                          <div class="col-md-9">
                           <%= number_field_tag ":fci_decimal_value"+@fci.machine_name, decimal.value, :step => 'any', class: 'form-control' %>
                            <span class="help-block"> <br/>  </span>
                          </div>
                        </div>
    <% end %>
<% end %>