<h1>Listing fci_decimals</h1>

<table>
  <thead>
  <tr>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fci_decimals.each do |fci_decimal| %>
      <tr>
        <td><%= fci_decimal.value %></td>
        <td><%= link_to 'Show', [:admin, fci_decimal] %></td>
        <td><%= link_to 'Edit', edit_admin_fci_decimal_path(fci_decimal) %></td>
        <td><%= link_to 'Destroy', [:admin, fci_decimal], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci decimal', new_admin_fci_decimal_path %>
