<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @fci_decimal.value %>
</p>

<%= link_to 'Edit', edit_admin_fci_decimal_path(@fci_decimal) %> |
<%= link_to 'Back', admin_fci_decimals_path %>
