<div class="chat_right">
  <div class="chat_user">
    <% profile = message.user.profile %>
    <%= field_image(profile, :logoc, :thumb) %>
    <%= field(profile, :nazvanie_kompanii) %> <span><%= message.timestamp %></span>
  </div>
  <div class="c_message">
    <%= message.body %>
  </div>

</div>