<p id="notice"><%= notice %></p>

<h1>Listing Profiles</h1>

<table>
  <thead>
  <tr>
    <th>Record type</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.record_type %></td>
        <td><%= link_to 'Show', profile %></td>
        <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
        <td><%= link_to 'Destroy', profile, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_profile_path %>
