<%= content_for :seo do %>
    <%= render 'shared/default/seomore', locale: @model=@profile %>
<% end %>
<% if FileTest.exists?('app/themes/'+theme_resolver+'/views/records/_'+@profile.record_type.machine_name+'.html.erb') %>
    <%= render 'records/'+@profile.record_type.machine_name+'.html.erb' %>
<% else %>
    <%= render 'shared/fields/dynamic_field', locale: @model=@profile %>
<% end %>
