<%= form_for([:admin, @field_custom], html: {class: 'form-horizontal field_custom'}) do |f| %>
    <% if @field_custom.errors.any? %>
        <div id="error_explanation" class="panel panel-danger">
          <div class="panel-heading">
            <h2 class="panel-title"><%= pluralize(@field_custom.errors.count, "error") %> prohibited this field_custom
              from being saved:</h2>
          </div>
          <div class="panel-body">
            <ul>
              <% @field_custom.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :machine_name, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :machine_name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :value, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_area :value, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.label :active, for: nil do %>
            <%= f.check_box :active %>
            <%= FieldCustom.human_attribute_name(:active) %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>
