<div class="page-header">
  <h1>Editing field_custom</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @field_custom], class: 'btn btn-default' %>
<%= link_to 'Back', admin_field_customs_path, class: 'btn btn-default' %>
