<div class="page-header">
  <h1>Listing field_customs</h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Machine name</th>
    <th>Active</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @field_customs.each do |field_custom| %>
      <tr>
        <td><%= field_custom.name %></td>
        <td><%= field_custom.machine_name %></td>
        <td><%= field_custom.active %></td>
        <td><%= link_to 'Show', [:admin, field_custom], class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_admin_field_custom_path(field_custom), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', [:admin, field_custom], method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Field custom', new_admin_field_custom_path, class: 'btn btn-primary' %>
