<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @field_custom.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Machine name:</strong></dt>
  <dd><%= @field_custom.machine_name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Active:</strong></dt>
  <dd><%= @field_custom.active %></dd>
</dl>

<%= link_to 'Edit', edit_admin_field_custom_path(@field_custom), class: 'btn btn-default' %>
<%= link_to 'Back', admin_field_customs_path, class: 'btn btn-default' %>
