<%= form_for([:admin, @style_image]) do |f| %>
    <% if @style_image.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@style_image.errors.count, "error") %> prohibited this style_image from being saved:</h2>

          <ul>
            <% @style_image.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :machine_name %><br>
      <%= f.text_field :machine_name %>
    </div>
    <div class="field">
      <%= f.label :process %><br>
      <%= f.text_field :process %>
    </div>
    <div class="field">
      <%= f.label :widht %><br>
      <%= f.number_field :widht %>
    </div>
    <div class="field">
      <%= f.label :height %><br>
      <%= f.number_field :height %>
    </div>
    <div class="field">
      <%= f.label :percent %><br>
      <%= f.check_box :percent %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
