<h1>Listing style_images</h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Machine name</th>
    <th>Process</th>
    <th>Widht</th>
    <th>Height</th>
    <th>Percent</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @style_images.each do |style_image| %>
      <tr>
        <td><%= style_image.name %></td>
        <td><%= style_image.machine_name %></td>
        <td><%= style_image.process %></td>
        <td><%= style_image.widht %></td>
        <td><%= style_image.height %></td>
        <td><%= style_image.percent %></td>
        <td><%= link_to 'Show', [:admin, style_image] %></td>
        <td><%= link_to 'Edit', edit_admin_style_image_path(style_image) %></td>
        <td><%= link_to 'Destroy', [:admin, style_image], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Style image', new_admin_style_image_path %>
