<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @style_image.name %>
</p>

<p>
  <strong>Machine name:</strong>
  <%= @style_image.machine_name %>
</p>

<p>
  <strong>Process:</strong>
  <%= @style_image.process %>
</p>

<p>
  <strong>Widht:</strong>
  <%= @style_image.widht %>
</p>

<p>
  <strong>Height:</strong>
  <%= @style_image.height %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @style_image.percent %>
</p>

<%= link_to 'Edit', edit_admin_style_image_path(@style_image) %> |
<%= link_to 'Back', admin_style_images_path %>
