<% fci_dates = FciDate.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id) %>
<% if fci_dates.empty? %>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= @fci.name %></label>
      <div class="col-md-9">
        <%= date_field_tag(":fci_date_value"+@fci.machine_name) %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>
<% else %>
    <% fci_dates.each do |date| %>

        <div class="form-group">
          <label class="col-md-3 control-label"><%= @fci.name %></label>
          <div class="col-md-9">
            <%= date_field_tag(":fci_date_value"+@fci.machine_name, date.value) %>
            <span class="help-block"> <br/> </span>
          </div>
        </div>
    <% end %>
<% end %>