<h1>Listing fci_dates</h1>

<table>
  <thead>
  <tr>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fci_dates.each do |fci_date| %>
      <tr>
        <td><%= fci_date.value %></td>
        <td><%= link_to 'Show', [:admin, fci_date] %></td>
        <td><%= link_to 'Edit', edit_admin_fci_date_path(fci_date) %></td>
        <td><%= link_to 'Destroy', [:admin, fci_date], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci date', new_admin_fci_date_path %>
