<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @fci_date.value %>
</p>

<%= link_to 'Edit', edit_admin_fci_date_path(@fci_date) %> |
<%= link_to 'Back', admin_fci_dates_path %>
