<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>
<h1>Добро пожаловать на FOTOMAMAPAPA, <%= title(@user.profile) %></h1>
<p>
  Вы можете войти на свой аккаунт, под логином: <%= @user.email %>.<br>
</p>
<p>
  Чтобы войти, перейдите по ссылке: <%= @url %>.
</p>
<p>Благодарим вас и удачного пользования системой!</p>
</body>
</html>