Добро пожаловать на FOTOMAMAPAPA, <%= title(@user.profile) %>
===============================================

Вы можете войти на свой аккаунт, под логином: <%= @user.email %>.

Чтобы войти, перейдите по ссылке: <%= @url %>.

Благодарим вас и удачного пользования системой!