<%= content_for :current_sidebar do %>
    <% @seomore= @taxonomy.seomore %>
    <h2> Seo setting</h2>
    <%= form_for([:admin, @seomore], html: {class: 'form-horizontal seomore'}) do |f| %>
        <% if @seomore.errors.any? %>
            <div id="error_explanation" class="panel panel-danger">
              <div class="panel-heading">
                <h2 class="panel-title"><%= pluralize(@seomore.errors.count, "error") %> prohibited this seomore from
                  being
                  saved:</h2>
              </div>
              <div class="panel-body">
                <ul>
                  <% @seomore.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                  <% end %>
                </ul>
              </div>
            </div>
        <% end %>

        <div class="form-group">
          <%= f.label :title, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :title, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :keywords, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :keywords, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :desc, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_area :desc, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.label :noindex, for: nil do %>
                <%= f.check_box :noindex %>
                <%= Seomore.human_attribute_name(:noindex) %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.label :nofollow, for: nil do %>
                <%= f.check_box :nofollow %>
                <%= Seomore.human_attribute_name(:nofollow) %>
            <% end %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :canonical, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :canonical, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :author, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :author, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :publisher, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :publisher, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :alternate, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :alternate, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :refresh, class: 'control-label col-md-2' %>
          <div class="col-md-10">
            <%= f.text_field :refresh, class: 'form-control' %>
          </div>
        </div>
        <div class="form-group">
          <div class="col-md-offset-2 col-md-10">
            <%= f.submit nil, class: 'btn btn-primary' %>
          </div>
        </div>
    <% end %>

<% end %>
