<%= form_for([:admin, @taxonomy], html: {class: 'form-horizontal taxonomy', multipart: true}) do |f| %>
<% if @taxonomy.errors.any? %>
<div id="error_explanation" class="panel panel-danger">
  <div class="panel-heading">
    <h2 class="panel-title"><%= pluralize(@taxonomy.errors.count, "error") %> prohibited this taxonomy from
      being saved:</h2>
    </div>

    <div class="panel-body">
      <ul>
        <% @taxonomy.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>

  <%= f.hidden_field :record_type_id, value: @record_type.id %>

  <%= render 'admin/shared/fci/fci_in_model_form', locale: @model=@record_type %>

  <div class="form-group">
          <label class="col-md-3 control-label"><%= t(:public) %></label>
          <div class="col-md-9">
             <%= f.check_box :public, class: 'form-control' %>
            <span class="help-block"> <br/> </span>
          </div>
        </div>
  <div class="form-group">
          <label class="col-md-3 control-label"><%= t(:url) %></label>
          <div class="col-md-9">
         <%= f.text_field :url, class: 'form-control' %>
            <span class="help-block"> <%= t('url_help') %> </span>
          </div>
        </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit t('save'), class: 'btn btn-primary' %>
    </div>
  </div>
  <% end %>