<span class="listitem handle"><i class="glyphicon glyphicon-move"></i></span>
<span class="listitem"><a href="/<%= taxonomy.record_type.machine_name %>/<%= taxonomy.url ? taxonomy.url : '-' %>" target="_blank"><%= taxonomy.id %>
  - <%= taxonomy.title %></a></span>
<span class="listitem pub"><% if taxonomy.public %>
<i class="glyphicon glyphicon-ok-circle"></i>
<% else %>
<i class="glyphicon glyphicon-remove-circle"></i>
<% end %>
</span>
<span class="listitem act">
  <%= link_to '', edit_admin_taxonomy_path(taxonomy), class: 'glyphicon glyphicon-pencil' %>
  <%= link_to '', [:admin, taxonomy], method: :delete, data: {confirm: 'Are you sure?'}, class: 'glyphicon glyphicon-remove' %>
</span>