<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('editing') %> <%= @taxonomy.title %>
  <small><%= @taxonomy.record_type.desc %></small>
</h3>

<div class="well">
<%= render 'form' %>
</div>