<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('listing taxonomies') %>
  <small><%= t('taxonomies desc index') %></small>
</h3>

<div class="well">
  
<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th><%= t(:title) %></th>
    <th><%= t(:description) %></th>
    <th><%= t(:action) %></th>
  </tr>
  </thead>

  <tbody>
  <% @record_type_taxonomies.each do |taxonomy_library| %>
      <tr>
        <td><%= taxonomy_library.id %></td>
        <td><%= taxonomy_library.name %></td>
        <td><%= taxonomy_library.desc %></td>
        <td><%= link_to '', admin_taxonomies_list_path(taxonomy_library), class: 'glyphicon glyphicon-list-alt' %>
          <%= link_to '', edit_admin_record_type_path(taxonomy_library), class: 'glyphicon glyphicon-pencil' %>
      </tr>
  <% end %>
  </tbody>
</table>
    </div>
