<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= @record_type.name %>
  <small><%= @record_type.desc %></small>
</h3>

<div class="well">
<div class="portlet box green">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-gift"></i>  <%= t('new taxonomies') %></div>
        <div class="tools">
          <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
        </div>
      </div>
      <div class="portlet-body portlet-collapsed">
      <%= render 'new_form' %>
        </div>
      </div>
  <%= paginate @taxonomies, views_prefix: 'admin' %>
<ul id="sortable-head">
  <li class="clearfix header">
    <span class="listitem sdrag">
       <i class="icon-cursor-move"></i>
    </span>
    <span class="listitem cl">
     <%= t(:name) %>
    </span>
    <span class="listitem pub">
      <%= t(:publiced) %>
    </span>
    <span class="listitem act">
     <%= t(:action) %>
    </span>
  </li>
</ul>

<% if @taxonomies.present? %>

    <ul id="sortable-taxonomy">

      <%= render :partial => 'admin/taxonomies/taxonomy_list', locals: {taxonomies: @taxonomies} %>
    </ul>
<% end %>
</div>