<%= link_to t(:edit), edit_admin_taxonomy_path(@taxonomy), class: 'btn btn-default' %>
<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>action</th>
  </tr>
  </thead>

  <tbody>
  <% @taxonomy.model_relations.each do |mr| %>
      <% @m=mr.model.constantize.find(mr.mid) %>
      <tr>
        <td><%= title(@m) %>
          <% if @m.model_name.name == 'Taxonomy' %>(<%= title(@m.parent) unless @m.parent.nil? %> )
          <% end %></td>

        <td>
          <%= link_to 'Destroy', [:admin, mr], method: :delete %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= search_form_for @search, url: admin_taxonomy_path(@taxonomy) do |f| %>
    <%= f.label 'Type' %>
    <%= f.select :machine_name_cont, options_from_collection_for_select(RecordType.all, :machine_name, :name) %>
    <%= f.submit %>
<% end %>
<%= paginate @types %>
<% @types.each do |type| %>


    <h1><%= type.name %></h1>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Name</th>
        <th>action</th>
      </tr>
      </thead>

      <tbody>
      <% type.model.constantize.where(record_type_id: type.id).each do |model| %>
          <tr>
            <td><%= title(model) %>
              <% if model.model_name.name == 'Taxonomy' %>(<%= title(model.parent) unless model.parent.nil? %> )
              <% end %></td>
            <td><%= form_for([:admin, @mr], remote: true) do |f| %>
                  <%= f.hidden_field :mid, value: model.id %>
                  <%= f.hidden_field :model, value: model.model_name.name %>
                  <%= f.hidden_field :mid_main, value: @taxonomy.id %>
                  <%= f.hidden_field :model_main, value: @taxonomy.model_name.name %>
                  <%= f.hidden_field :record_type, value: model.record_type.machine_name %>
                  <%= f.submit %>
              <% end %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>

<%= render 'current_sidebar' %>