<p id="notice"><%= notice %></p>

<h1>Listing Comments</h1>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Record type</th>
    <th>Mid</th>
    <th>Model</th>
    <th>Ancestry</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @comments.each do |comment| %>
      <tr>
        <td><%= comment.user %></td>
        <td><%= comment.record_type %></td>
        <td><%= comment.mid %></td>
        <td><%= comment.model %></td>
        <td><%= comment.ancestry %></td>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Comment', new_comment_path %>
