<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<p>
  <strong>Record type:</strong>
  <%= @comment.record_type %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @comment.mid %>
</p>

<p>
  <strong>Model:</strong>
  <%= @comment.model %>
</p>

<p>
  <strong>Ancestry:</strong>
  <%= @comment.ancestry %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
