<%= form_for([:admin, @filter_group]) do |f| %>
  <% if @filter_group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@filter_group.errors.count, "error") %> prohibited this filter_group from being saved:</h2>

      <ul>
      <% @filter_group.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :name %><br>
    <%= f.text_field :name %>
    </div>
  <div class="field">
      <%= f.label :public %><br>
    <%= f.check_box :public %>
    </div>
  <div class="field">
      <%= f.label :position %><br>
    <%= f.number_field :position %>
    </div>
  <div class="field">
      <%= f.label :mid %><br>
    <%= f.number_field :mid %>
    </div>
  <div class="field">
      <%= f.label :model %><br>
    <%= f.text_field :model %>
    </div>
  <div class="field">
      <%= f.label :desc %><br>
    <%= f.text_area :desc %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
