<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('listing group filter') %>
  <small><%= t('group filter desc index') %> <%= link_to t('New Filter group'), new_admin_filter_group_path,
                                                         class: 'btn btn-primary' %></small>
</h3>

<div class="well">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th><%= t('name') %></th>
      <th><%= t(:description) %></th>
      <th><%= t(:public) %></th>
      <th><%= t(:action) %></th>
    </tr>
    </thead>

    <tbody>

    <% @filter_groups.each do |filter_group| %>
      <tr>
        <td><%= filter_group.name %></td>
        <td><%= filter_group.desc %></td>
        <td><%= filter_group.public %></td>
        <td><%= link_to '', [:admin, filter_group], class: 'glyphicon glyphicon-list-alt' %>
       <%= link_to '', edit_admin_filter_group_path(filter_group), class: 'glyphicon glyphicon-pencil' %>
        <%= link_to '', [:admin, filter_group], method: :delete, data: { confirm: 'Are you sure?' },
                    class: 'glyphicon glyphicon-remove' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

</div>