<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @filter_group.name %>
</p>

<p>
  <strong>Public:</strong>
  <%= @filter_group.public %>
</p>

<p>
  <strong>Position:</strong>
  <%= @filter_group.position %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @filter_group.mid %>
</p>

<p>
  <strong>Model:</strong>
  <%= @filter_group.model %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @filter_group.desc %>
</p>

<%= link_to 'Edit', edit_admin_filter_group_path(@filter_group) %> |
<%= link_to 'Back', admin_filter_groups_path %>
