<%= form_for([:admin, @permission]) do |f| %>
    <% if @permission.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@permission.errors.count, "error") %> prohibited this permission from being saved:</h2>

          <ul>
            <% @permission.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :role_id %><br>
      <%= f.text_field :role_id %>
    </div>
    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :subject_class %><br>
      <%= f.text_field :subject_class %>
    </div>
    <div class="field">
      <%= f.label :subject_id %><br>
      <%= f.number_field :subject_id %>
    </div>
    <div class="field">
      <%= f.label :action %><br>
      <%= f.text_field :action %>
    </div>
    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :active %><br>
      <%= f.check_box :active %>
    </div>
    <div class="field">
      <%= f.label :admin %><br>
      <%= f.check_box :admin %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
