<h1>Listing permissions</h1>

<table>
  <thead>
  <tr>
    <th>Role</th>
    <th>Name</th>
    <th>Subject class</th>
    <th>Subject</th>
    <th>Action</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @permissions.each do |permission| %>
      <tr>
        <td><%= permission.role_id %></td>
        <td><%= permission.name %></td>
        <td><%= permission.subject_class %></td>
        <td><%= permission.subject_id %></td>
        <td><%= permission.action %></td>
        <td><%= permission.description %></td>
        <td><%= link_to t(:show), [:admin, permission] %></td>
        <td><%= link_to t(:edit), edit_admin_permission_path(permission) %></td>
        <td><%= link_to t(:destroy), [:admin, permission], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Permission', new_admin_permission_path %>
