<p id="notice"><%= notice %></p>

<p>
  <strong>Role:</strong>
  <%= @permission.role_id %>
</p>

<p>
  <strong>Name:</strong>
  <%= @permission.name %>
</p>

<p>
  <strong>Subject class:</strong>
  <%= @permission.subject_class %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @permission.subject_id %>
</p>

<p>
  <strong>Action:</strong>
  <%= @permission.action %>
</p>

<p>
  <strong>Description:</strong>
  <%= @permission.description %>
</p>

<%= link_to t(:edit), edit_admin_permission_path(@permission) %> |
<%= link_to t(:back), admin_permissions_path %>
