
.current_sidebar {
    padding: 0px 25px;
}

.page-quick-sidebar-wrapper {
    transition: right 0.3s;
    z-index: 9994;
    position: fixed;
    top: 46px;
    bottom: 0;
    right: -370px;
    width: 370px;
}

.sortable {
    display: table-row-group;
}

#sortable-list, #sortable-head, #sortable-taxonomy, .sortable-block {
    color: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;

}

#sortable-list li.header div, #sortable-head li.header div, #sortable-taxonomy li.header div, .sortable-block li.header div {
    background-color: #ccc;
    font-weight: bold;
    cursor: default;
}

#sortable-list li, #sortable-head liss, .sortable-block li {
    height: 43px;
}

#sortable-list li span, #sortable-head li div, #sortable-taxonomy li div, .sortable-block li div {
    color: #333;
    background-color: #fff;
    display: block;
    float: left;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    padding: 10px 5px;
}

.nested {
    margin-left: 20px;
}

.sortable-block li div.listitem-drag, #sortable-list li div.listitem-drag, #sortable-head li div.listitem-drag  {
    width: 6%;
    border-left: 1px solid #ccc;
}
#sortable-list li span.listitem-drags, #sortable-head li div.listitem-drags {
    width: 10%;
    border-left: 1px solid #ccc;
}
#sortable-head li div.listitemx-drag {
    width: 9%;
    border-left: 1px solid #ccc;
}

#sortable-taxonomy li div.listitem-drag {
    width: 9%;
    border-left: 1px solid #ccc;
}

.sortable-block li div.listitem-name, #sortable-taxonomy li div.listitem-name {
    width: 18%;
}
#sortable-list li span.listitem-name, #sortable-head li div.listitem-name {
    width: 70%;
}

.sortable-block li div.listitem-url, #sortable-taxonomy li div.listitem-url, #sortable-list li div.listitem-url, #sortable-head li div.listitem-url {
    width: 22%;
}

.sortable-block li div.listitem-title, #sortable-taxonomy li div.listitem-title, #sortable-list li div.listitem-title, #sortable-head li div.listitem-title {
    width: 10%;
}

.sortable-block li div.listitem-pub, #sortable-taxonomy li div.listitem-pub {
    width: 10%;
}
#sortable-list li span.listitem-pub, #sortable-head li div.listitem-pub {
    width: 10%;
}
.sortable-block li div.listitem-cl, #sortable-taxonomy li div.listitem-cl, #sortable-list li div.listitem-cl, #sortable-head li div.listitem-cl {
    width: 18%;
}

.sortable-block li div.listitem-action, #sortable-taxonomy li div.listitem-action {
    width: 30%;
}
#sortable-list li span.listitem-action, #sortable-head li div.listitem-action {
    width: 10%;
}
.table .link.btn {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

span.listitem {
    color: black;
}

.listitem.pub {
    float: right;
    right: 100px;
    position: relative;
}

.listitem.act {
    float: right;
}



ul#sortable-taxonomy li {
    margin: 10px 0px 10px 0px;
    border-top: dotted 1px black;
    padding-top: 10px;
}

.fixed_link {
    position: fixed;
    bottom: 0px;
    z-index: 999;
    max-width: 400px;
    right: 5%;
}

ul#sortable-taxonomy {
    padding: 0px 10px;
}

ul#current-taxonomy li {
    margin: 10px 0px 10px 0px;
    border-top: dotted 1px black;
    padding-top: 10px;
    list-style: none;
}

.modal-backdrop {
    position: relative;
    z-index: 0;
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    width: 70%;
    height: 90%;
    top: 5%;
    left: 15%;
}

.actions.fixed {
    position: fixed;
    right: 5%;
    bottom: 0px;
}

.logobar {
    position: relative;
    top: 5px;
    font-weight: bolder;
    font-size: 1.5em;
    left: 20px;
}

.logo_big {
    color: rgba(237, 107, 117, 1);
}

.logo_small {
    color: white;
}

.logobar a:hover {
    text-decoration: none;
}

body {
    background-color: white;
}

.table-bordered, .table-bordered > tbody > tr > td, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > td, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > thead > tr > th {
    border: 1px solid black;
}

thead {
    background-color: #337ab7;
    border-color: #337ab7;
    color: white;
}

a:focus, a:hover {
    color: #23527c;
    text-decoration: none;
}

.prod_image {
    float: left;
    margin: 10px;
}

.theme-options {
    width: 180px;
    color: white;
    text-align: left;
    position: relative;
    padding: 10px 0 10px 10px;
}

/* Cubic Bezier Transition */
/***
Portfolio
***/
.portfolio-content {
    padding-top: 10px; }
.portfolio-content .cbp-l-filters-buttonCenter .cbp-filter-item,
.portfolio-content .cbp-l-filters-buttonCenter .cbp-filter-counter,
.portfolio-content .cbp-l-filters-big .cbp-l-filters-big .cbp-filter-item,
.portfolio-content .cbp-l-grid-work-title,
.portfolio-content .cbp-l-clients-title-block,
.portfolio-content .cbp-l-grid-masonry-projects-title,
.portfolio-content .cbp-l-grid-masonry-projects-desc,
.portfolio-content .cbp-l-grid-mosaic .cbp-l-caption-title,
.portfolio-content .cbp-l-grid-mosaic .cbp-l-caption-desc,
.portfolio-content .cbp-l-slider-title-block div,
.portfolio-content .cbp-l-grid-slider-team-name,
.portfolio-content .cbp-l-grid-slider-team-position,
.portfolio-content .cbp-l-grid-slider-team-desc,
.portfolio-content .cbp-l-grid-slider-testimonials-footer,
.portfolio-content .cbp-l-testimonials-title-block,
.portfolio-content .cbp-l-grid-testimonials-footer,
.portfolio-content .cbp-caption-expand .cbp-caption-defaultWrap,
.portfolio-content .cbp-caption-expand .cbp-l-caption-body {
    font-family: "Open Sans", sans-serif !important; }
.portfolio-content .text-center {
    text-align: center; }
.portfolio-content .cbp-l-project-related-link:hover {
    text-decoration: none; }
.portfolio-content .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active,
.portfolio-content .cbp-l-filters-button .cbp-filter-counter {
    background-color: #2F353B;
    border-color: #2F353B;
    color: #fff; }
.portfolio-content .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active:before,
.portfolio-content .cbp-l-filters-button .cbp-filter-counter:before {
    border-top-color: #2F353B; }
.portfolio-content .cbp-l-project-desc-title span,
.portfolio-content .cbp-l-project-details-title span {
    border-bottom-color: #e7505a;
    text-transform: uppercase;
    font-weight: 600; }
.portfolio-content.portfolio-2 .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active,
.portfolio-content.portfolio-2 .cbp-l-filters-button .cbp-filter-counter {
    background-color: #32C5D2;
    border-color: #32C5D2;
    color: #fff; }
.portfolio-content.portfolio-2 .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active:before,
.portfolio-content.portfolio-2 .cbp-l-filters-button .cbp-filter-counter:before {
    border-top-color: #32C5D2; }
.portfolio-content.portfolio-2 .cbp-l-grid-mosaic .cbp-caption-activeWrap {
    background-color: rgba(50, 197, 210, 0.9); }
.portfolio-content.portfolio-2 .cbp-l-grid-mosaic .cbp-caption-activeWrap .cbp-l-caption-title,
.portfolio-content.portfolio-2 .cbp-l-grid-mosaic .cbp-caption-activeWrap .cbp-l-caption-desc {
    color: #fff; }
.portfolio-content.portfolio-3 .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active,
.portfolio-content.portfolio-3 .cbp-l-filters-button .cbp-filter-counter {
    background-color: #3598DC;
    border-color: #3598DC;
    color: #fff; }
.portfolio-content.portfolio-3 .cbp-l-filters-button .cbp-filter-item.cbp-filter-item-active:before,
.portfolio-content.portfolio-3 .cbp-l-filters-button .cbp-filter-counter:before {
    border-top-color: #3598DC; }
.portfolio-content.portfolio-3 .cbp-caption-zoom .cbp-caption-activeWrap {
    background-color: rgba(0, 0, 0, 0.7); }
.portfolio-content.portfolio-3 .cbp-l-project-desc-title span,
.portfolio-content.portfolio-3 .cbp-l-project-details-title span {
    border-bottom-color: #3598DC; }
.portfolio-content.portfolio-3 .cbp-l-filters-dropdown {
    margin-bottom: 25px; }
.portfolio-content.portfolio-4 .cbp-caption-zoom .cbp-caption-activeWrap {
    background-color: rgba(0, 0, 0, 0.7); }
.portfolio-content.portfolio-4 .cbp-l-filters-alignCenter {
    margin-bottom: 25px; }
.portfolio-content.portfolio-4 .cbp-l-filters-alignCenter .cbp-filter-item {
    margin-bottom: 0; }
.portfolio-content .cbp-l-filters-dropdown-floated {
    margin-top: 0; }
.portfolio-content .cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownHeader {
    line-height: 31px; }
.portfolio-content .cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownList .cbp-filter-item {
    line-height: 31px; }
.portfolio-content .cbp-popup-singlePage .cbp-popup-content {
    max-width: 1170px; }
.portfolio-content .cbp-l-filters-button {
    margin-bottom: 25px; }
.portfolio-content .cbp-l-loadMore-button {
    margin-bottom: 60px; }
.portfolio-content .btn {
    padding: 6px 12px; }

.cbp-popup-wrap,
.cbp-popup-singlePage-open {
    z-index: 10105 !important; }

.cbp-popup-singlePage .cbp-popup-navigation-wrap {
    z-index: 10106 !important; }

.portfolio-tile {
    margin-bottom: 30px; }

.cbp-l-filters-dropdownWrap {
    background: none;
    border: 1px solid #2F353B; }
.cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownHeader {
    color: #2F353B;
    font-size: 12px; }
.cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownHeader:after {
    border-color: #2F353B transparent; }
.cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownList {
    background: #ffffff; }
.cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownList .cbp-filter-item {
    font-size: 12px;
    color: #2F353B;
    border: 0; }
.cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownList .cbp-filter-item:hover {
    background: #f3f4f5; }
.cbp-l-filters-dropdownWrap .cbp-l-filters-dropdownList .cbp-filter-item.cbp-filter-item-active {
    background: #e5e8ea; }

.page-sidebar-closed .page-sidebar .page-sidebar-menu.page-sidebar-menu-closed>li>a {
    padding-left: 11px;
}
span.title {
    position: absolute;
    left: 45px;
    bottom: 10px;
}