<%= form_for([:admin, @users_role]) do |f| %>
    <% if @users_role.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@users_role.errors.count, "error") %> prohibited this users_role from being saved:</h2>

          <ul>
            <% @users_role.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :user_id %><br>
      <%= f.text_field :user_id %>
    </div>
    <div class="field">
      <%= f.label :role_id %><br>
      <%= f.text_field :role_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
