<h1>Listing users_roles</h1>

<table>
  <thead>
  <tr>
    <th>User</th>
    <th>Role</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @users_roles.each do |users_role| %>
      <tr>
        <td><%= users_role.user %></td>
        <td><%= users_role.role %></td>
        <td><%= link_to 'Show', [:admin, users_role] %></td>
        <td><%= link_to 'Edit', edit_admin_users_role_path(users_role) %></td>
        <td><%= link_to 'Destroy', [:admin, users_role], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Users role', new_admin_users_role_path %>
