<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @users_role.user %>
</p>

<p>
  <strong>Role:</strong>
  <%= @users_role.role %>
</p>

<%= link_to 'Edit', edit_admin_users_role_path(@users_role) %> |
<%= link_to 'Back', admin_users_roles_path %>
