<% fci_images = FciImage.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id) %>
<% if fci_images.empty? %>
<div class="form-group">
  <label class="col-md-3 control-label"><%= @fci.name %></label>
  <div class="col-md-9">
   <% if @fci.multi? %>
   <%= file_field_tag ":fci_image_value"+@fci.machine_name+'[]', multiple: true, :as => :rich_picker %>
   <% else %>
   <%= file_field_tag ":fci_image_value"+@fci.machine_name, multiple: true, :as => :rich_picker %>
   <% end %>
   <%= text_field_tag :featured_image, nil, :as => :rich_picker %>
    <%= text_area_tag :body, nil , :as => :rich, :config => { :default_style => "myCrazyPaperclipStyle" } %>
   <span class="help-block"><br/> </span>
 </div>
</div>

<% else %>
<div class="form-group">
  <label class="col-md-3 control-label"><%= @fci.name %></label>
  <div class="col-md-9">
   <% if @fci.multi? %>
   <%= file_field_tag ":fci_image_value"+@fci.machine_name+'[]', multiple: true , :as => :rich_picker %>
   <% else %>
   <%= file_field_tag ":fci_image_value"+@fci.machine_name, multiple: true, :as => :rich_picker  %>
   <% end %>
  <% @images = Dir.glob("public/uploads/fci_image/thumb_*") %>
<% @images.each do |i|%>
<%= Pathname.new(i).open%>
<% end %>
   <% fci_images.each do |image| %>
   <%= image_tag(image.value.thumb.url) unless image.value.nil? %>
   <%= link_to 'X', [:admin, image], method: :delete, data: {confirm: 'Are you sure?'} %>
   <% end %>
   <span class="help-block"> <br/> </span>
 </div>
</div>

<% end %>
