<%= form_for([:admin, @fci_image]) do |f| %>
    <% if @fci_image.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fci_image.errors.count, "error") %> prohibited this fci_image from being saved:</h2>

          <ul>
            <% @fci_image.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :value %><br>

      <%= f.file_field :value %>
    </div>
    <div class="field">
      <%= f.label :alt %><br>
      <%= f.text_field :alt %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
