<%= form_for([:admin, FciImage.new], html: { multipart: true }) do |f| %>
    <div class="field">
      <%= f.label :value %><br>

      <%= f.file_field :value, multiple: true %>
    </div>
    <div class="field">
      <%= f.label :alt %><br>
      <%= f.text_field :alt %>
    </div>
    <div class="field">
      <%= f.label :title %><br>
      <%= f.text_field :title %>
    </div>
    <%= f.hidden_field :mid, value: @model.id %>
    <%= f.hidden_field :model, value: @model.model_name.human %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
