<% if @fci.fci_images.where(model: @model.model_name.human, mid: @model.id).empty? %>
<div class="form-group">
  <label class="col-md-3 control-label"><%= @fci.name %></label>
  <div class="col-md-9">
   <%= file_field_tag ":fci_image_value"+@fci.machine_name+'[]', multiple: true %>
       <span class="help-block"><br/> </span>
  </div>
</div>


  <% else %>
  <% @fci.fci_images.where(model: @model.model_name.human, mid: @model.id).each do |image| %>
  <div class="form-group">
    <label class="col-md-3 control-label"><%= @fci.name %></label>
    <div class="col-md-9">
      <%= image_tag(image.value.thumb.url) unless image.value.nil? %>
      <%= file_field_tag ":fci_image_value"+@fci.machine_name+'[]', multiple: true %>
      <span class="help-block"> <br/> </span>
    </div>
  </div>


  <% end %>
  <% end %>