<h1>Listing fci_images</h1>

<table>
  <thead>
  <tr>
    <th>Value</th>
    <th>Alt</th>
    <th>Title</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fci_images.each do |fci_image| %>
      <tr>
        <td><%= fci_image.value %></td>
        <td><%= fci_image.alt %></td>
        <td><%= fci_image.title %></td>
        <td><%= link_to 'Show', [:admin, fci_image] %></td>
        <td><%= link_to 'Edit', edit_admin_fci_image_path(fci_image) %></td>
        <td><%= link_to 'Destroy', [:admin, fci_image], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci image', new_admin_fci_image_path %>
