<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @fci_image.value %>
</p>

<p>
  <strong>Alt:</strong>
  <%= @fci_image.alt %>
</p>

<p>
  <strong>Title:</strong>
  <%= @fci_image.title %>
</p>

<%= link_to 'Edit', edit_admin_fci_image_path(@fci_image) %> |
<%= link_to 'Back', admin_fci_images_path %>
