<%= form_for([:admin, @transform]) do |f| %>
    <% if @transform.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@transform.errors.count, "error") %> prohibited this transform from being saved:</h2>

          <ul>
            <% @transform.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :record_type_id %><br>
      <%= f.text_field :record_type_id %>
    </div>
    <div class="field">
      <%= f.label :public %><br>
      <%= f.text_field :public %>
    </div>
    <div class="field">
      <%= f.label :seomore_id %><br>
      <%= f.text_field :seomore_id %>
    </div>
    <div class="field">
      <%= f.label :menu_items_id %><br>
      <%= f.text_field :menu_items_id %>
    </div>
    <div class="field">
      <%= f.label :block %><br>
      <%= f.check_box :block %>
    </div>
    <div class="field">
      <%= f.label :mainform %><br>
      <%= f.check_box :mainform %>
    </div>
    <div class="field">
      <%= f.label :calc %><br>
      <%= f.check_box :calc %>
    </div>
    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
