<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <% @transforms.first.fcis.each do |fci| %>
            <Cell>
              <Data ss:Type="String"><%= fci.name %></Data>
            </Cell>
        <% end %>
        <Cell>
          <Data ss:Type="String"><%= t('data') %></Data>
        </Cell>
      </Row>
      <% @transforms.each do |transform| %>
          <Row>
            <% transform.fcis.each do |namefield| %>
                    <Cell>
                      <Data ss:Type="String"><%= field(transform, namefield.machine_name) %></Data>
                    </Cell>
            <% end %>
            <Cell>
              <Data ss:Type="String"><%= transform.created_at %></Data>
            </Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>