<h1>Listing forms</h1>
<%= link_to "Excel", admin_transforms_path(@transforms, format: "xls"), class: 'btn btn-primary' %>
<%= search_form_for @search, url: admin_transforms_path do |f| %>
    <div class="col-md-3">
      <div class="form-group form-md-line-input form-md-floating-label">
        <%= f.collection_select :record_type_id_eq, RecordType.where(model: 'Transform').all, :id, :name, {}, {class: 'form-control edited', id: 'form_control_1'} %>
        <label for="form_control_1"><%= t(:type) %></label>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group md-checkbox">
        <%= f.date_field :created_at_gteq %>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group md-checkbox">
        <%= f.date_field :created_at_lteq %>
      </div>
    </div>
    <div class="col-md-3">
              <span class="input-group-btn btn-right">
    <%= f.submit t('search'), class: 'btn btn-primary' %>
                        </span>
    </div>
<% end %>
<table class="table table-striped table-bordered table-hover">
  <thead>
  <% unless @transforms.empty? %>
      <tr>
        <% @transforms.first.fcis.each do |fci| %>
            <th><%= fci.name %></th>
        <% end %>
        <th><%= t('data') %></th>
        <th><%= t('action') %></th>
      </tr>
  <% end %>
  </thead>
  <tbody>
  <% @transforms.each do |transform| %>
      <tr>
        <% transform.fcis.each do |namefield| %>

                <td><%= field(transform, namefield.machine_name) %></td>

        <% end %>
        <td><%= transform.created_at %></td>
        <td><%= link_to 'Destroy', [:admin, transform], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>
