<p id="notice"><%= notice %></p>

<p>
  <strong>Record type:</strong>
  <%= @transform.record_type %>
</p>

<p>
  <strong>Public:</strong>
  <%= @transform.public %>
</p>

<p>
  <strong>Seomore:</strong>
  <%= @transform.seomore %>
</p>

<p>
  <strong>Menu items:</strong>
  <%= @transform.menu_items %>
</p>

<p>
  <strong>Block:</strong>
  <%= @transform.block %>
</p>

<p>
  <strong>Mainform:</strong>
  <%= @transform.mainform %>
</p>

<p>
  <strong>Calc:</strong>
  <%= @transform.calc %>
</p>

<p>
  <strong>Url:</strong>
  <%= @transform.url %>
</p>

<%= link_to 'Edit', edit_admin_transform_path(@transform) %> |
<%= link_to 'Back', admin_transforms_path %>
