<h1>Listing fci_integers</h1>

<table>
  <thead>
  <tr>
    <th>Value</th>
    <th>Fci</th>
    <th>Mid</th>
    <th>Model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fci_integers.each do |fci_integer| %>
      <tr>
        <td><%= fci_integer.value %></td>
        <td><%= fci_integer.fci %></td>
        <td><%= fci_integer.mid %></td>
        <td><%= fci_integer.model %></td>
        <td><%= link_to 'Show', [:admin, fci_integer] %></td>
        <td><%= link_to 'Edit', edit_admin_fci_integer_path(fci_integer) %></td>
        <td><%= link_to 'Destroy', [:admin, fci_integer], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci integer', new_admin_fci_integer_path %>
