<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @fci_integer.value %>
</p>

<p>
  <strong>Fci:</strong>
  <%= @fci_integer.fci %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @fci_integer.mid %>
</p>

<p>
  <strong>Model:</strong>
  <%= @fci_integer.model %>
</p>

<%= link_to 'Edit', edit_admin_fci_integer_path(@fci_integer) %> |
<%= link_to 'Back', admin_fci_integers_path %>
