<% fcistrings = FciString.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id) %>
<% if fcistrings.empty? %>
    <div class="form-group form-md-line-input">
      <%= color_field_tag ":fci_color_value"+@fci.machine_name, class: 'form-control', id: 'form_control_1' %>
      <label for="form_control_1"><%= @fci.name %></label>
    </div>
<% else %>
    <% fcistrings.each do |string| %>
        <div class="form-group form-md-line-input">
          <%= color_field_tag ":fci_color_value"+@fci.machine_name, string.value, class: 'form-control', id: 'form_control_1' %>
          <label for="form_control_1"><%= @fci.name %></label>
        </div>
    <% end %>
<% end %>