<%= form_for([:admin, @fci_string], html: {class: 'form-horizontal fci_string'}) do |f| %>
    <% if @fci_string.errors.any? %>
        <div id="error_explanation" class="panel panel-danger">
          <div class="panel-heading">
            <h2 class="panel-title"><%= pluralize(@fci_string.errors.count, "error") %> prohibited this fci_string from
              being saved:</h2>
          </div>
          <div class="panel-body">
            <ul>
              <% @fci_string.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :value, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :value, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>
