<% fcistrings = FciString.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id) %>
<% if fcistrings.empty? %>
    <div class="form-group">
          <label class="col-md-3 control-label"><%= @fci.name %></label>
          <div class="col-md-9">
<%= select_tag(":fci_list_text_value"+@fci.machine_name, options_for_select(@fci.value.split("\r\n").map{|e| e.split(/[| \.?!]+/)}), :include_blank => true, class: 'form-control', id: 'form_control_1') %>
            <span class="help-block"> <br/> </span>
          </div>
        </div>
<% else %>
    <%  fcistrings.each do |string| %>
         <div class="form-group">
          <label class="col-md-3 control-label"><%= @fci.name %></label>
          <div class="col-md-9">
<%= select_tag(":fci_list_text_value"+@fci.machine_name, options_for_select(@fci.value.split("\r\n").map{|e| e.split(/[| \.?!]+/)}, string.value), :include_blank => true, class: 'form-control', id: 'form_control_1') %>
            <span class="help-block"> <br/> </span>
          </div>
        </div>
    <% end %>
<% end %>