<% fcistrings = FciString.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id) %>
<% if fcistrings.empty? %>
    <div class="form-group form-md-line-input form-md-floating-label">
      <%= phone_field_tag ":fci_string_value"+@fci.machine_name, nil, placeholder: @fci.placeholder, class: 'form-control #{@fci.machine_name}', id: 'form_control_1' %>
      <label for="form_control_1"><%= @fci.name %></label>
    </div>
<% else %>
    <% fcistrings.each do |string| %>
        <div class="form-group form-md-line-input form-md-floating-label">
          <%= phone_field_tag ":fci_string_value"+@fci.machine_name, string.value, class: 'form-control', id: 'form_control_1' %>
          <label for="form_control_1"><%= @fci.name %></label>
        </div>
    <% end %>
<% end %>