<% fcistrings = FciString.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id) %>
<% if fcistrings.empty? %>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= @fci.name %></label>
      <div class="col-md-9">
        <%= text_field_tag ":fci_url_value"+@fci.machine_name, nil, class: 'form-control', id: 'form_control_1' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= t('label link') %></label>
      <div class="col-md-9">
        <%= text_field_tag ":fci_url_valuetwo"+@fci.machine_name, nil, class: 'form-control', id: 'form_control_1' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>
<% else %>
    <% fcistrings.each do |string| %>
        <div class="form-group">
          <label class="col-md-3 control-label"><%= @fci.name %></label>
          <div class="col-md-9">
            <%= text_field_tag ":fci_url_value"+@fci.machine_name, string.value, class: 'form-control', id: 'form_control_1' %>
            <span class="help-block"> <br/> </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"><%= t('label link') %></label>
          <div class="col-md-9">
            <%= text_field_tag ":fci_url_valuetwo"+@fci.machine_name,nil , class: 'form-control', id: 'form_control_1' %>
            <span class="help-block"> <br/> </span>
          </div>
        </div>
    <% end %>
<% end %>