<div class="page-header">
  <h1>Editing fci_string</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @fci_string], class: 'btn btn-default' %>
<%= link_to 'Back', admin_fci_strings_path, class: 'btn btn-default' %>
