<div class="page-header">
  <h1>Listing fci_strings</h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fci_strings.each do |fci_string| %>
      <tr>
        <td><%= fci_string.value %></td>
        <td><%= link_to 'Show', [:admin, fci_string], class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_admin_fci_string_path(fci_string), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', [:admin, fci_string], method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci string', new_admin_fci_string_path, class: 'btn btn-primary' %>
