<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><strong>Value:</strong></dt>
  <dd><%= @fci_string.value %></dd>
</dl>

<%= link_to 'Edit', edit_admin_fci_string_path(@fci_string), class: 'btn btn-default' %>
<%= link_to 'Back', admin_fci_strings_path, class: 'btn btn-default' %>
