<% RecordType.find_by(machine_name: @entity).fcis.each do |fci| %>
    <% if fci.active? %>
        <% parsed = JSON.parse(fci.field_custom.value) %>
        <% @fci = fci %>
        <%= render parsed['render'], locals: @fci %>
    <% end %>
<% end %>