<% fci_booleans = FciBoolean.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id) %>
<% if fci_booleans.empty? %>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= @fci.name %></label>
      <div class="col-md-9">
        <%= select_tag ":fci_boolean_value"+@fci.machine_name,
                       options_for_select([[t('yes'), true], [t('no'), false]], false),
                       class: 'form-control edited', id: 'form_control_1' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>
<% else %>
    <% fci_booleans.each do |boolean| %>
        <div class="form-group">
          <label class="col-md-3 control-label"><%= @fci.name %></label>
          <div class="col-md-9">
            <%= select_tag ":fci_boolean_value"+@fci.machine_name,
                           options_for_select([[t('yes'), true], [t('no'), false]], (boolean.value unless boolean.value.nil?)),
                           class: 'form-control edited', id: 'form_control_1' %>
            <span class="help-block"> <br/> </span>
          </div>
        </div>
    <% end %>
<% end %>