<h1>Listing fci_booleans</h1>

<table>
  <thead>
  <tr>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fci_booleans.each do |fci_boolean| %>
      <tr>
        <td><%= fci_boolean.value %></td>
        <td><%= link_to 'Show', [:admin, fci_boolean] %></td>
        <td><%= link_to 'Edit', edit_admin_fci_boolean_path(fci_boolean) %></td>
        <td><%= link_to 'Destroy', [:admin, fci_boolean], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci boolean', new_admin_fci_boolean_path %>
