<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @fci_boolean.value %>
</p>

<%= link_to 'Edit', edit_admin_fci_boolean_path(@fci_boolean) %> |
<%= link_to 'Back', admin_fci_booleans_path %>
