<%= form_for([:admin, @profile], html: {class: 'form-horizontal profile', multipart: true}) do |f| %>
    <% if @profile.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

          <ul>
            <% @profile.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :record_type_id %><br>
      <%= f.collection_select :record_type_id, RecordType.where(model: 'Profile').all, :id, :name, include_blank: false, class: "form-select" %>
    </div>

    <%= render 'admin/shared/fci/fci_in_model_form', locale: @model=@profile %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
