<h1>Listing profiles</h1>

<table>
  <thead>
  <tr>
    <th>Record type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @profiles.each do |profile| %>
      <tr>
        <td><%= profile.record_type %></td>
        <td><%= link_to t(:show), [:admin, profile] %></td>
        <td><%= link_to t(:edit), edit_admin_profile_path(profile) %></td>
        <td><%= link_to t(:destroy), [:admin, profile], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Profile', new_admin_profile_path %>
