<p id="notice"><%= notice %></p>

<p>
  <strong>Record type:</strong>
  <%= @profile.record_type %>
</p>

<%= link_to t(:edit), edit_admin_profile_path(@profile) %> |
<%= link_to t(:back), admin_profiles_path %>
