<p id="notice"><%= notice %></p>

<h1>Listing Transforms</h1>

<table>
  <thead>
  <tr>
    <th>Record type</th>
    <th>Public</th>
    <th>Seomore</th>
    <th>Menu item</th>
    <th>Block</th>
    <th>Mainform</th>
    <th>Calc</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @transforms.each do |transform| %>
      <tr>
        <td><%= transform.record_type %></td>
        <td><%= transform.public %></td>
        <td><%= transform.seomore %></td>
        <td><%= transform.menu_item %></td>
        <td><%= transform.block %></td>
        <td><%= transform.mainform %></td>
        <td><%= transform.calc %></td>
        <td><%= link_to 'Show', transform %></td>
        <td><%= link_to 'Edit', edit_transform_path(transform) %></td>
        <td><%= link_to 'Destroy', transform, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Transform', new_transform_path %>
