<p id="notice"><%= notice %></p>

<p>
  <strong>Record type:</strong>
  <%= @transform.record_type %>
</p>

<p>
  <strong>Public:</strong>
  <%= @transform.public %>
</p>

<p>
  <strong>Seomore:</strong>
  <%= @transform.seomore %>
</p>

<p>
  <strong>Menu item:</strong>
  <%= @transform.menu_item %>
</p>

<p>
  <strong>Block:</strong>
  <%= @transform.block %>
</p>

<p>
  <strong>Mainform:</strong>
  <%= @transform.mainform %>
</p>

<p>
  <strong>Calc:</strong>
  <%= @transform.calc %>
</p>

<%= link_to 'Edit', edit_transform_path(@transform) %> |
<%= link_to 'Back', transforms_path %>
