<%= form_for([:admin, @fci], html: {class: 'form-horizontal fci'}) do |f| %>
    <% if @fci.errors.any? %>
        <div id="error_explanation" class="panel panel-danger">
          <div class="panel-heading">
            <h2 class="panel-title"><%= pluralize(@fci.errors.count, "error") %> prohibited this fci from being
              saved:</h2>
          </div>
          <div class="panel-body">
            <ul>
              <% @fci.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :machine_name, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :machine_name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.label :active, for: nil do %>
            <%= f.check_box :active %>
            <%= Fci.human_attribute_name(:active) %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :field_custom_id, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :field_custom_id, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :mid, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.number_field :mid, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :model, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :model, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :position, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.number_field :position, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.label :required_field, for: nil do %>
            <%= f.check_box :required_field %>
            <%= Fci.human_attribute_name(:required_field) %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :placeholder, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :placeholder, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :value, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_area :value, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>
