<div class="page-header">
  <h1>Editing fci</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @fci], class: 'btn btn-default' %>
<%= link_to 'Back', admin_fcis_path, class: 'btn btn-default' %>
