<div class="page-header">
  <h1>Listing fcis</h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Name</th>
    <th>Machine name</th>
    <th>Active</th>
    <th>Field custom</th>
    <th>Mid</th>
    <th>Model</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fcis.each do |fci| %>
      <tr>
        <td><%= fci.name %></td>
        <td><%= fci.machine_name %></td>
        <td><%= fci.active %></td>
        <td><%= fci.field_custom %></td>
        <td><%= fci.mid %></td>
        <td><%= fci.model %></td>
        <td><%= fci.position %></td>
        <td><%= link_to 'Show', [:admin, fci], class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_admin_fci_path(fci), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', [:admin, fci], remote: true, method: :delete, data: {confirm: 'Are you sure?'},
                        class: 'btn btn-xs btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci', new_admin_fci_path, class: 'btn btn-primary' %>
