<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @fci.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Machine name:</strong></dt>
  <dd><%= @fci.machine_name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Active:</strong></dt>
  <dd><%= @fci.active %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Field custom:</strong></dt>
  <dd><%= @fci.field_custom %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Mid:</strong></dt>
  <dd><%= @fci.mid %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Model:</strong></dt>
  <dd><%= @fci.model %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Position:</strong></dt>
  <dd><%= @fci.position %></dd>
</dl>

<%= link_to 'Edit', edit_admin_fci_path(@fci), class: 'btn btn-default' %>
<%= link_to 'Back', admin_fcis_path, class: 'btn btn-default' %>
