<% if menu_item.public? %><a href="<%= if locale == :ru
                   root_url
                   else
                     root_url+'/'
                   end+menu_item.url %>" title="<%= menu_item.title %>" class="<%= menu_item.csscls %>"><%= menu_item.name %></a><% end %>