<%= form_for([:admin, @message], html: { class: 'form-horizontal message' }) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation" class="panel panel-danger">
      <div class="panel-heading">
        <h2 class="panel-title"><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>
      </div>
      <div class="panel-body">
        <ul>
        <% @message.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :theme, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :theme, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :body, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_area :body, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :conversation_id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :conversation_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :message_id, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :message_id, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>
