<div class="page-header">
  <h1>Editing message</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @message], class: 'btn btn-default' %>
<%= link_to 'Back', admin_messages_path, class: 'btn btn-default' %>
