<div class="page-header">
  <h1>Listing messages</h1>
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Theme</th>
      <th>Body</th>
      <th>Conversation</th>
      <th>Message</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @messages.each do |message| %>
      <tr>
        <td><%= message.theme %></td>
        <td><%= message.body %></td>
        <td><%= message.conversation %></td>
        <td><%= message.message %></td>
        <td><%= link_to 'Show', [:admin, message], class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_admin_message_path(message), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', [:admin, message], method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Message', new_admin_message_path, class: 'btn btn-primary' %>
