<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><strong>Theme:</strong></dt>
  <dd><%= @message.theme %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Body:</strong></dt>
  <dd><%= @message.body %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Conversation:</strong></dt>
  <dd><%= @message.conversation %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Message:</strong></dt>
  <dd><%= @message.message %></dd>
</dl>

<%= link_to 'Edit', edit_admin_message_path(@message), class: 'btn btn-default' %>
<%= link_to 'Back', admin_messages_path, class: 'btn btn-default' %>
