<nav class="navbar">
  <div class="navbar-header container brand-bluegray">

  </div>
  <div class="navbar-container clearfix">
    <div class="pull-left">
      <a href="#" class="page-title text-uppercase">Dashboard</a>
    </div>

    <div class="pull-right">
      <div class="pull-left search-container">

        <div class="dropdown default">
          <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <%= I18n.locale %> <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <%= lang_switcher %>
          </ul>
        </div>
      </div>

      <ul class="nav pull-right right-menu">
        <li class="more-options dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown">
            <i class="zmdi zmdi-account-circle"></i>
          </a>

          <div class="more-opt-container dropdown-menu">
            <a href="/users/<%= current_user.id %>/edit"><i class="zmdi zmdi-account-o"></i>Account</a>
            <a href="/users/sign_out"><i class="zmdi zmdi-run"></i>Exit</a>
          </div>
        </li>

      </ul>
    </div>
  </div>
</nav>
