
<script src="/admin/pacificonis/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/admin/pacificonis/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/admin/pacificonis/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<script src="/admin/pacificonis/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.js"></script>
<script src="/admin/pacificonis/bower_components/Waves/dist/waves.min.js"></script>
<script src="/admin/pacificonis/bower_components/toastr/toastr.js"></script>


<script src="/admin/pacificonis/bower_components/datatables/media/js/jquery.dataTables.min.js"></script>
<script src="/admin/pacificonis/bower_components/datatables.net-responsive/js/dataTables.responsive.js"></script>
<script src="/admin/pacificonis/bower_components/moment/min/moment.min.js"></script>

<script src="/admin/pacificonis/bower_components/Chart.js/Chart.js"></script>
<script src="/admin/pacificonis/bower_components/flot/jquery.flot.js"></script>
<script src="/admin/pacificonis/bower_components/flot/jquery.flot.resize.js"></script>
<script src="/admin/pacificonis/bower_components/flot.tooltip/js/jquery.flot.tooltip.js"></script>
<script src="/admin/pacificonis/bower_components/jquery.easy-pie-chart/dist/jquery.easypiechart.js"></script>