<aside class="sidebar">
  <ul class="nav metismenu">

      <% admin_menu_items(:admin_menu).each do |item| %>
        <li>
          <a href="<%= root_url %><%= item.url %>"><i class="zmdi <%= item.csscls %>"></i><%= item.name %><span class="zmdi arrow"></span></a>
        </li>
      <% end %>
      <%= yield :sidebar_cells %>
  </ul>
</aside>