<% @record_type.fcis.each do |fci| %>
    <tr class='fci' data-id="<%= fci.id %>">
      <td><i class="icon-cursor-move"></i></td>
      <td><%= fci.id %></td>
      <td>
        <a class="sbold" data-toggle="modal" href="#draggable<%= fci.id %>"> <%= fci.name %> </a>
        <div class="modal fade" id="draggable<%= fci.id %>" aria-hidden="true">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
              <h4 class="modal-title"><%= fci.name %></h4>
            </div>
            <div class="modal-body">

              <%= form_for([:admin, fci], html: {class: 'form-horizontal fci'}, remote: true) do |f| %>
                  <% if fci.errors.any? %>
                      <div id="error_explanation" class="panel panel-danger">
                        <div class="panel-heading">
                          <h2 class="panel-title"><%= pluralize(fci.errors.count, "error") %> prohibited this fci from
                            being
                            saved:</h2>
                        </div>
                        <div class="panel-body">
                          <ul>
                            <% fci.errors.full_messages.each do |msg| %>
                                <li><%= msg %></li>
                            <% end %>
                          </ul>
                        </div>
                      </div>
                  <% end %>
                  <div class="row">
                    <div class="col-md-6">
                      <%= f.label :name, class: 'control-label' %>
                      <div>
                        <%= f.text_field :name, class: 'form-control' %>
                      </div>

                      <%= f.label :placeholder, class: 'control-label' %>
                      <div>
                        <%= f.text_field :placeholder, class: 'form-control' %>
                      </div>


                      <%= f.label :position, class: 'control-label' %>
                      <div>
                        <%= f.number_field :position, class: 'form-control' %>
                      </div>



                      <%= f.label :value, class: 'control-label' %>
                      <div>
                        <%= f.text_area :value, class: 'form-control' %>
                      </div>

                      <%= f.label :prefix, class: 'control-label' %>
                      <div>
                        <%= f.text_field :prefix, class: 'form-control' %>
                      </div>

                      <%= f.label :suffix, class: 'control-label' %>
                      <div>
                        <%= f.text_field :suffix, class: 'form-control' %>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <%= f.label :elementfield, class: 'control-label' %>
                      <div>
                        <%= f.text_field :elementfield, class: 'form-control' %>
                      </div>

                      <%= f.label :classfield, class: 'control-label' %>
                      <div>
                        <%= f.text_field :classfield, class: 'form-control' %>
                      </div>

                      <%= f.label :idfield, class: 'control-label' %>
                      <div>
                        <%= f.text_field :idfield, class: 'form-control' %>
                      </div>

                      <%= f.hidden_field :mid, value: @record_type.id, class: 'form-control' %>
                      <%= f.hidden_field :model, value: 'RecordType', class: 'form-control' %>

                      <div class="form-group">
                        <div>
                          <%= f.label t('active'), for: nil do %>
                              <%= f.check_box :active, :checked => true %>
                              <%= Fci.human_attribute_name(:active) %>
                          <% end %>
                        </div>
                      </div>

                      <div class="form-group">
                        <div>
                          <%= f.label t('required_field'), for: nil do %>
                              <%= f.check_box :required_field %>
                              <%= Fci.human_attribute_name(:required_field) %>
                          <% end %>
                        </div>
                      </div>
                      <div class="form-group">
                        <div>
                          <%= f.label t('filter'), for: nil do %>
                              <%= f.check_box :filter %>
                              <%= Fci.human_attribute_name(:filter) %>
                          <% end %>
                        </div>
                      </div>
                      <div class="form-group">
                        <div>
                          <%= f.label t('multi'), for: nil do %>
                              <%= f.check_box :multi %>
                              <%= Fci.human_attribute_name(:multi) %>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>

                  </br>
                  </br>
                  <div class="modal-footer">
                    <%= f.submit 'edit field', class: 'btn btn-primary' %>

                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </td>
      <td><%= fci.machine_name %></td>
      <td><%= fci.field_custom.name %></td>
      <td><%= fci.active %></td>
      <td><%= fci.required_field %></td>
      <td><%= link_to 'Destroy', [:admin, fci], method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger' %></td>
    </tr>
<% end %>
