<%= form_for([:admin, @record_type], html: {class: 'form-horizontal record_type'}) do |f| %>
    <% if @record_type.errors.any? %>
        <div id="error_explanation" class="panel panel-danger">
          <div class="panel-heading">
            <h2 class="panel-title"><%= pluralize(@record_type.errors.count, "error") %> prohibited this record_type
              from being saved:</h2>
          </div>
          <div class="panel-body">
            <ul>
              <% @record_type.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <label class="col-md-3 control-label"><%= t(:name) %></label>
      <div class="col-md-9">
        <%= f.text_field :name, class: 'form-control' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= t(:model) %></label>
      <div class="col-md-9">
        <%= select(:record_type, :model, System.where(machine_category: "record_type").collect { |s| [s.name, s.value] }, {include_blank: false}, {:class => "form-control"}) %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= t('machine name') %></label>
      <div class="col-md-9">
        <%= f.text_field :machine_name, class: 'form-control' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= t(:description) %></label>
      <div class="col-md-9">
        <%= f.text_area :desc, class: 'form-control' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= t(:help) %></label>
      <div class="col-md-9">
        <%= f.text_area :help, class: 'form-control' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label"><%= t(:has_title) %></label>
      <div class="col-md-9">
        <%= f.check_box :has_title, class: 'form-control' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>

    <div class="js-dependent-fields" data-checkbox-id='record_type_has_title' data-checkbox-value='true'>
      <label class="col-md-3 control-label"><%= t('label_title') %></label>
      <div class="col-md-9">
        <%= f.text_field :label_title, class: 'form-control' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label"><%= t(:disabled) %></label>
      <div class="col-md-9">
        <%= f.check_box :disabled, class: 'form-control' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label"><%= t(:position) %></label>
      <div class="col-md-9">
        <%= f.check_box :position, class: 'form-control' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label"><%= t(:nesting) %></label>
      <div class="col-md-9">
        <%= f.check_box :nesting, class: 'form-control' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>


    <div class="form-group">
      <label class="col-md-3 control-label"><%= t(:relation) %></label>
      <div class="col-md-9">
        <%= f.check_box :relation, class: 'form-control' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label"><%= t(:path_root_url) %></label>
      <div class="col-md-9">
        <%= f.check_box :path_root_url, class: 'form-control' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label"><%= t(:comment_type) %></label>
      <div class="col-md-9">
        <%= select(:record_type, :comment_type, RecordType.where(model: 'Comment').collect { |s| [s.name, s.id] }, {include_blank: false}, {:class => "form-control"}) %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>
    <div class="fixed_link">
  <span class="input-group-btn">
    <%= f.submit t('save'), class: 'btn btn-primary' %>
  </span>
    </div>

<% end %>
