<li
<% if request.fullpath == edit_admin_record_type_path(@record_type) %>class="active"
<% end %>>
  <a href="<%= edit_admin_record_type_path(@record_type) %>">
    <%= t('editing') %></a>
</li>
<li
<% if request.fullpath == admin_record_type_fields_path(@record_type) %>class="active"
<% end %>>
  <a href="<%= admin_record_type_fields_path(@record_type) %>">
    <%= t('fields') %> </a>
</li>
