<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('edit record types')+' '+@record_type.name %>
  <small><%= t('record types desc edit') %></small>
</h3>
<div class="tabbable-custom ">
  <ul class="nav nav-tabs">
    <%= render "link" %>
  </ul>
  <div class="tab-content">
    <div class="well">
      <%= render 'form' %>
    </div>
  </div>
</div>