<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('fields')+' '+@record_type.name %>
  <small><%= t('fields desc') %></small>
</h3>
<div class="tabbable-custom ">
  <ul class="nav nav-tabs">
    <%= render "link" %>
  </ul>
  <div class="tab-content">
    <div class="well">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>
            Drag
          </th>
          <th>
           Id
          </th>
          <th>
            Name
          </th>
          <th>
            Machine name
          </th>
          <th>
            Type
          </th>
          <th>
            Active
          </th>
          <th>
            Required
          </th>
          <th>
            Action
          </th>
        </tr>
        </thead>
        <tbody class="sortable">
        <div id="fci_list">
          <%= render 'fci_list' %>
        </div>
        </tbody>
        <tbody>
        <div id="fci_list">

          <tr class='fci'>
            <%= form_for([:admin, @fcinew], html: {class: 'form-horizontal fci'}, remote: true) do |f| %>
                <% if @fcinew.errors.any? %>
                    <div id="error_explanation" class="panel panel-danger">
                      <div class="panel-heading">
                        <h2 class="panel-title"><%= pluralize(@fcinew.errors.count, "error") %> prohibited this fci from
                          being
                          saved:</h2>
                      </div>
                      <div class="panel-body">
                        <ul>
                          <% @fcinew.errors.full_messages.each do |msg| %>
                              <li><%= msg %></li>
                          <% end %>
                        </ul>
                      </div>
                    </div>
                <% end %>
                <td><i class="icon-cursor-move"></i></td>
                <td>id</td>
                <td>
                  <div class="form-group">
                    <%= f.label :name, class: 'control-label' %>
                    <div>
                      <%= f.text_field :name, class: 'form-control' %>
                    </div>
                  </div>

                </td>
                <td>
                  <div class="form-group">
                    <%= f.label :machine_name, class: 'control-label' %>
                    <div>
                      <%= f.text_field :machine_name, class: 'form-control' %>
                    </div>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <%= f.label t('type'), class: 'control-label' %>
                    <div>
                      <%= f.collection_select(:field_custom_id, @fields.all, :id, :name, {}, {class: 'form-control'}) %>
                    </div>
                  </div>

                  <%= f.hidden_field :mid, value: @record_type.id, class: 'form-control' %>
                  <%= f.hidden_field :model, value: 'RecordType', class: 'form-control' %>
                </td>
                <td>
                  <div class="form-group">
                    <div>
                      <label><%=  t('active') %></label>
                          <%= f.check_box :active %>
                    
                    </div>
                  </div>
                </td>
                <td>
                  <div class="form-group">
                    <div>
                      <label><%=  t('required_field') %></label>
                          <%= f.check_box :required_field %>
                    </div>
                  </div>
                </td>

                <td>

                </td>

                </tr>
                <tr>
                  <td colspan="6">
                    <div class="panel panel-default">
                      <div class="panel-heading">
                        <h4 class="panel-title">
                          <a class="accordion-toggle accordion-toggle-styled collapsed" data-toggle="collapse" data-parent="#accordion3" href="#collapse_3_2" aria-expanded="false">
                            Дополнительные настройки создаваемого поля</a>
                        </h4>
                      </div>
                      <div id="collapse_3_2" class="panel-collapse collapse" aria-expanded="false">
                        <div class="panel-body">
                          <div class="form-group">
                            <%= f.label :placeholder, class: 'control-label' %>
                            <div>
                              <%= f.text_field :placeholder, class: 'form-control' %>
                            </div>
                          </div>

                          <div class="form-group">
                            <%= f.label :position, class: 'control-label' %>
                            <div>
                              <%= f.number_field :position, class: 'form-control' %>
                            </div>
                          </div>

                          <div class="form-group">
                            <%= f.label :value, class: 'control-label' %>
                            <div>
                              <%= f.text_area :value, class: 'form-control' %>
                            </div>
                          </div>


                          <%= f.label :prefix, class: 'control-label' %>
                          <div>
                            <%= f.text_field :prefix, class: 'form-control' %>
                          </div>

                          <%= f.label :suffix, class: 'control-label' %>
                          <div>
                            <%= f.text_field :suffix, class: 'form-control' %>
                          </div>

                          <%= f.label :elementfield, class: 'control-label' %>
                          <div>
                            <%= f.text_field :elementfield, class: 'form-control' %>
                          </div>

                          <%= f.label :classfield, class: 'control-label' %>
                          <div>
                            <%= f.text_field :classfield, class: 'form-control' %>
                          </div>

                          <%= f.label :idfield, class: 'control-label' %>
                          <div>
                            <%= f.text_field :idfield, class: 'form-control' %>
                          </div>


                          <div class="form-group">
                            <div>
                              <%= f.label t('filter'), for: nil do %>
                                  <%= f.check_box :filter %>
                                  <%= Fci.human_attribute_name(:filter) %>
                              <% end %>
                            </div>
                          </div>
                          <div class="form-group">
                            <div>
                              <%= f.label t('multi'), for: nil do %>
                                  <%= f.check_box :multi %>
                                  <%= Fci.human_attribute_name(:multi) %>
                              <% end %>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </td>
                  <td rowspan="2">
                    <div class="form-group">
                      <div class="col-md-offset-2 col-md-10">
                        <%= f.submit 'add field', class: 'btn btn-primary' %>
                      </div>
                    </div>
                  </td>
            <% end %>
            </tr>
            </div>
        </tbody>
      </table>

    </div>
  </div>
</div>

