<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('listing record types') %>
  <small><%= t('record types desc index') %></small>
</h3>
<div class="well">
  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th><%= t('name') %></th>
      <th><%= t('model') %></th>
      <th><%= t('machine name') %></th>
      <th><%= t('description') %></th>
      <th><%= t('disabled') %></th>
      <th><%= t('action') %></th>
    </tr>
    </thead>

    <tbody>
    <% @record_types.each do |record_type| %>
        <tr>
          <td><%= record_type.name %></td>
          <td><%= record_type.model %></td>
          <td><%= record_type.machine_name %></td>
          <td><%= record_type.desc %></td>
          <td>
            <% if record_type.disabled? %>
                <i class="glyphicon glyphicon-ok-circle"></i>
            <% else %>
                <i class="glyphicon glyphicon-remove-circle"></i>
            <% end %></td>
          <td><%= link_to '', edit_admin_record_type_path(record_type), class: 'glyphicon glyphicon-pencil', title: 'Редактировать '+record_type.name %>
            <%= link_to '', admin_record_type_fields_path(record_type), class: 'glyphicon glyphicon-list-alt', title: 'Поля '+record_type.name %>
            <%= link_to '', [:admin, record_type], method: :delete, data: {confirm: 'Вы действительно хотите удалить?'}, class: 'glyphicon glyphicon-remove', title: 'Удалить '+record_type.name %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<%= link_to t('New Record type'), new_admin_record_type_path, class: 'btn btn-primary' %>
