<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('new record types') %>
  <small><%= t('record types desc new') %></small>
</h3>
<div class="well">
  <%= render 'form' %>

  <%= link_to t(:back), admin_record_types_path, class: 'btn btn-default' %>
</div>