<div class="tabbable-custom ">
  <ul class="nav nav-tabs ">
    <%= render "link" %>
  </ul>
  <div class="tab-content">
    <p id="notice"><%= notice %></p>

    <dl class="dl-horizontal">
      <dt><strong>Name:</strong></dt>
      <dd><%= @record_type.name %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt><strong>Model:</strong></dt>
      <dd><%= @record_type.model %></dd>
    </dl>
    <dl class="dl-horizontal">
      <dt><strong>Type:</strong></dt>
      <dd><%= @record_type.machine_name %></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt><strong>Desc:</strong></dt>
      <dd><%= @record_type.desc %></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt><strong>Help:</strong></dt>
      <dd><%= @record_type.help %></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt><strong>Has title:</strong></dt>
      <dd><%= @record_type.has_title %></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt><strong>Title:</strong></dt>
      <dd><%= @record_type.label_title %></dd>
    </dl>

    <dl class="dl-horizontal">
      <dt><strong>Disabled:</strong></dt>
      <dd><%= @record_type.disabled %></dd>
    </dl>

    <%= link_to t(:edit), edit_admin_record_type_path(@record_type), class: 'btn btn-default' %>
    <%= link_to t(:back), admin_record_types_path, class: 'btn btn-default' %>

  </div>
</div>


