<meta content="width=device-width, initial-scale=1" name="viewport"/>
<!-- BEGIN GLOBAL MANDATORY STYLES -->
<link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700&subset=all" rel="stylesheet" type="text/css"/>
<link href="/admin/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
<link href="/admin/plugins/simple-line-icons/simple-line-icons.min.css" rel="stylesheet" type="text/css"/>
<link href="/admin/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
<link href="/admin/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
<link href="/admin/plugins/bootstrap-switch/css/bootstrap-switch.min.css" rel="stylesheet" type="text/css"/>
<!-- END GLOBAL MANDATORY STYLES -->
<link href="/admin/css/profile.min.css" rel="stylesheet" type="text/css"/>
<link href="/admin/plugins/cubeportfolio/css/cubeportfolio.css" rel="stylesheet" type="text/css"/>
<!-- BEGIN THEME STYLES -->
<link href="/admin/css/components-md.min.css" id="style_components" rel="stylesheet" type="text/css"/>
<link href="/admin/css/plugins-md.min.css" rel="stylesheet" type="text/css"/>
<link href="/admin/css/layout.min.css" rel="stylesheet" type="text/css"/>
<link href="/admin/css/themes/<%= admin_style %>.min.css" rel="stylesheet" type="text/css" id="style_color"/>
<link href="/admin/css/custom.css" rel="stylesheet" type="text/css"/>
<!-- END THEME STYLES -->
