<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
<!-- BEGIN CORE PLUGINS -->
<!--[if lt IE 9]>
<script src="/admin/plugins/respond.min.js"></script>
<script src="/admin/plugins/excanvas.min.js"></script>
<![endif]-->
<script src="/admin/plugins/jquery.min.js" type="text/javascript"></script>
<script src="/admin/plugins/jquery-migrate.min.js" type="text/javascript"></script>
<!-- IMPORTANT! Load jquery-ui.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
<script src="/admin/plugins/jquery-ui/jquery-ui.min.js" type="text/javascript"></script>
<script src="/admin/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
<script src="/admin/plugins/bootstrap-hover-dropdown/bootstrap-hover-dropdown.min.js" type="text/javascript"></script>
<script src="/admin/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
<script src="/admin/plugins/jquery.blockui.min.js" type="text/javascript"></script>
<script src="/admin/plugins/jquery.cokie.min.js" type="text/javascript"></script>
<script src="/admin/plugins/uniform/jquery.uniform.min.js" type="text/javascript"></script>
<script src="/admin/plugins/bootstrap-switch/js/bootstrap-switch.min.js" type="text/javascript"></script>
<!-- END CORE PLUGINS -->
<script src="/admin/scripts/ui-modals.min.js" type="text/javascript"></script>
<script src="/admin/plugins/cubeportfolio/js/jquery.cubeportfolio.min.js" type="text/javascript"></script>

<script>
  (function($, window, document, undefined) {
    'use strict';

    // init cubeportfolio
    $('#js-grid-full-width').cubeportfolio({
      filters: '#js-filters-full-width',
      loadMore: '#js-loadMore-full-width',
      loadMoreAction: 'auto',
      layoutMode: 'mosaic',
      sortToPreventGaps: true,
      defaultFilter: '*',
      animationType: 'fadeOutTop',
      gapHorizontal: 0,
      gapVertical: 0,
      gridAdjustment: 'responsive',
      mediaQueries: [{
        width: 1500,
        cols: 5
      }, {
        width: 1100,
        cols: 4
      }, {
        width: 800,
        cols: 3
      }, {
        width: 480,
        cols: 2
      }, {
        width: 320,
        cols: 1
      }],
      caption: 'zoom',
      displayType: 'lazyLoading',
      displayTypeSpeed: 100,

      // lightbox
      lightboxDelegate: '.cbp-lightbox',
      lightboxGallery: true,
      lightboxTitleSrc: 'data-title',
      lightboxCounter: '<div class="cbp-popup-lightbox-counter">{{current}} of {{total}}</div>',
    });
  })(jQuery, window, document);

</script>
<script src="/admin/scripts/app.min.js" type="text/javascript"></script>
<script src="/admin/scripts/metronic.js" type="text/javascript"></script>
<script src="/admin/scripts/layout.js" type="text/javascript"></script>
<script src="/admin/scripts/demo.js" type="text/javascript"></script>
<script src="/admin/scripts/jquery.mjs.nestedSortable.js" type="text/javascript"></script>
<script src="/admin/scripts/quick-sidebar.js" type="text/javascript"></script>
<!-- END PAGE LEVEL SCRIPTS -->
<script>
  jQuery(document).ready(function () {
    Metronic.init(); // init metronic core componets
    Layout.init(); // init layout
      // Index.init();
    // Index.initDashboardDaterange();
    // Index.initChat();
    // Index.initMiniCharts();
    // Tasks.initDashboardWidget();
  });
</script>
<!-- END JAVASCRIPTS -->