
<% fci_full_texts = FciFullText.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id) %>
<% if fci_full_texts.empty? %>
            <div class="form-group">
          <label class="col-md-3 control-label"><%= @fci.name %></label>
          <div class="col-md-9">
          <% if @fci.filter? %>
          <%= text_area_tag ":fci_full_text_value"+@fci.machine_name, nil, class: 'form-control', id: 'textareacode', :rows => 20, :cols => 120 %>
          <% else %>
           <%= cktext_area_tag ":fci_full_text_value"+@fci.machine_name, nil, class: 'form-control', :rows => 4, :cols => 120 %>
           <% end %>
            <span class="help-block"> <br/> </span>
          </div>
        </div>
<% else %>
    <% fci_full_texts.each do |text| %>

                    <div class="form-group">
          <label class="col-md-3 control-label"><%= @fci.name %></label>
          <div class="col-md-9">
           <% if @fci.filter? %>
             <%= text_area_tag ":fci_full_text_value"+@fci.machine_name, text.value, autofocus: true, class: 'form-control', id: 'textareacode', :rows => 20, :cols => 120 %>
           <% else %>
           <%= cktext_area_tag ":fci_full_text_value"+@fci.machine_name, text.value, class: 'form-control', :rows => 4, :cols => 120 %>
           <% end %>
         <span class="help-block"> <br/> </span>
          </div>
        </div>
    <% end %>
<% end %>
<script>
    var editor = CodeMirror.fromTextArea($('#textareacode')[0], {
        lineNumbers: true
    });
</script>