<%= form_for([:admin, @fci_full_text]) do |f| %>
    <% if @fci_full_text.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fci_full_text.errors.count, "error") %> prohibited this fci_full_text from being
            saved:</h2>

          <ul>
            <% @fci_full_text.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :fci_id %><br>
      <%= f.text_field :fci_id %>
    </div>
    <div class="field">
      <%= f.label :mid %><br>
      <%= f.number_field :mid %>
    </div>
    <div class="field">
      <%= f.label :model %><br>
      <%= f.text_field :model %>
    </div>
    <div class="field">
      <%= f.label :value %><br>
      <%= f.text_area :value %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
