<h1>Listing fci_full_texts</h1>

<table>
  <thead>
  <tr>
    <th>Fci</th>
    <th>Mid</th>
    <th>Model</th>
    <th>Value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fci_full_texts.each do |fci_full_text| %>
      <tr>
        <td><%= fci_full_text.fci %></td>
        <td><%= fci_full_text.mid %></td>
        <td><%= fci_full_text.model %></td>
        <td><%= fci_full_text.value %></td>
        <td><%= link_to 'Show', [:admin, fci_full_text] %></td>
        <td><%= link_to 'Edit', edit_admin_fci_full_text_path(fci_full_text) %></td>
        <td><%= link_to 'Destroy', [:admin, fci_full_text], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci full text', new_admin_fci_full_text_path %>
