<p id="notice"><%= notice %></p>

<p>
  <strong>Fci:</strong>
  <%= @fci_full_text.fci %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @fci_full_text.mid %>
</p>

<p>
  <strong>Model:</strong>
  <%= @fci_full_text.model %>
</p>

<p>
  <strong>Value:</strong>
  <%= @fci_full_text.value %>
</p>

<%= link_to 'Edit', edit_admin_fci_full_text_path(@fci_full_text) %> |
<%= link_to 'Back', admin_fci_full_texts_path %>
