<%= form_for([:admin, @system], html: {class: 'form-horizontal system'}) do |f| %>
    <% if @system.errors.any? %>
        <div id="error_explanation" class="panel panel-danger">
          <div class="panel-heading">
            <h2 class="panel-title"><%= pluralize(@system.errors.count, "error") %> prohibited this system from being
              saved:</h2>
          </div>
          <div class="panel-body">
            <ul>
              <% @system.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <%= f.label :name, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :name, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :value, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_area :value, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.label :valueb, for: nil do %>
            <%= f.check_box :valueb %>
            <%= System.human_attribute_name(:valueb) %>
        <% end %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :image, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :image, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :help, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_area :help, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :category, class: 'control-label col-md-2' %>
      <div class="col-md-10">
        <%= f.text_field :category, class: 'form-control' %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit nil, class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>
