<div class="page-header">
  <h1>Editing system</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @system], class: 'btn btn-default' %>
<%= link_to 'Back', admin_systems_path, class: 'btn btn-default' %>
