<div class="page-header">
  <h1>Listing systems</h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th><%= t('name') %></th>
    <th><%= t('key') %></th>
    <th><%= t('setting') %></th>
    <th><%= t('action') %></th>
  </tr>
  </thead>

  <tbody>
  <% @systems.each do |system| %>
  <%= form_for([:admin, system], html: {class: 'form-horizontal system'}) do |f| %>
    <% if system.errors.any? %>
        <div id="error_explanation" class="panel panel-danger">
          <div class="panel-heading">
            <h2 class="panel-title"><%= pluralize(system.errors.count, "error") %> prohibited this system from being
              saved:</h2>
          </div>
          <div class="panel-body">
            <ul>
              <% system.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>
      <tr>
        <td><%= system.name %></td>
        <td><%= system.key %></td>
        <td>
        <% if FileTest.exists?('app/views/admin/systems/settings/_'+system.key+'.html.erb') %>
        <%= render 'admin/systems/settings/'+system.key, locals: @system=system %>
          <% else %>
          <%= f.text_area :value, class: 'form-control' %>
          <% end %>
        </td>
        
        <td>    
        <%= f.submit t('save'), class: 'btn btn-primary' %>
        </td>
      </tr>
      <% end %>
  <% end %>
  </tbody>
</table>
<%= switch_user_select %>
<br>

<%= link_to 'New System', new_admin_system_path, class: 'btn btn-primary' %>