<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @system.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Value:</strong></dt>
  <dd><%= @system.value %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Valueb:</strong></dt>
  <dd><%= @system.valueb %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Image:</strong></dt>
  <dd><%= @system.image %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Help:</strong></dt>
  <dd><%= @system.help %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Category:</strong></dt>
  <dd><%= @system.category %></dd>
</dl>

<%= link_to 'Edit', edit_admin_system_path(@system), class: 'btn btn-default' %>
<%= link_to 'Back', admin_systems_path, class: 'btn btn-default' %>
