<%= content_for :seo do %>
<%= render 'shared/default/seomore', locale: @model=@record %>
<% end %>
<% if FileTest.exists?("app/themes/#{theme_resolver}/views/records/_record_#{@record.id}.html.erb") %>
		<%= render "records/record_#{@record.id}" %>
<% else %>
	<% if FileTest.exists?("app/themes/#{theme_resolver}/views/records/_#{@record.entity}.html.erb") %>
		<%= render "records/#{@record.entity}" %>
	<% else %>
		<%= dynamic_field(@record) %>
	<% end %>
<% end %>