<div class="portfolio-content">
    <div class="cbp-loadMore-block1">
        <div class="cbp-item web-design print motion">
            <a href="../assets/global/plugins/cubeportfolio/ajax/project3.html" class="cbp-caption cbp-singlePageInline"
               data-title="Flat Roman Typeface Ui<br>by Cosmin Capitanu" rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                    <img src="../assets/global/img/portfolio/600x600/5.jpg" alt=""></div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Flat Roman Typeface Ui</div>
                            <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item graphic web-design logos">
            <a href="../assets/global/plugins/cubeportfolio/ajax/project4.html" class="cbp-caption cbp-singlePageInline"
               data-title="Music Player<br>by Cosmin Capitanu" rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                    <img src="../assets/global/img/portfolio/600x600/06.jpg" alt=""></div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Music Player</div>
                            <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="cbp-loadMore-block2">
        <div class="cbp-item print motion identity">
            <a href="../assets/global/plugins/cubeportfolio/ajax/project3.html" class="cbp-caption cbp-singlePageInline"
               data-title="Speed Detector<br>by Cosmin Capitanu" rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                    <img src="../assets/global/img/portfolio/600x600/6.jpg" alt=""></div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Speed Detector</div>
                            <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="cbp-item identity web-design print">
            <a href="../assets/global/plugins/cubeportfolio/ajax/project4.html" class="cbp-caption cbp-singlePageInline"
               data-title="Sonor Website<br>by Cosmin Capitanu" rel="nofollow">
                <div class="cbp-caption-defaultWrap">
                    <img src="../assets/global/img/portfolio/600x600/22.jpg" alt=""></div>
                <div class="cbp-caption-activeWrap">
                    <div class="cbp-l-caption-alignLeft">
                        <div class="cbp-l-caption-body">
                            <div class="cbp-l-caption-title">Sonor Website</div>
                            <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>