<div class="cbp-loadMore-block1">
    <div class="web-design cbp-item">
        <a href="../assets/global/img/portfolio/1200x900/4.jpg" class="cbp-caption cbp-lightbox"
           data-title="Flat Roman Typeface Ui<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/60.jpg" alt=""></div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Flat Roman Typeface Ui</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="motion web-design cbp-item">
        <a href="../assets/global/img/portfolio/1200x900/08.jpg" class="cbp-caption cbp-lightbox"
           data-title="Music Player<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/64.jpg" alt=""></div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Music Player</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>
<div class="cbp-loadMore-block2">
    <div class="print cbp-item">
        <a href="../assets/global/img/portfolio/1200x900/06.jpg" class="cbp-caption cbp-lightbox"
           data-title="Speed Detector<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/9.jpg" alt=""></div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Speed Detector</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
    <div class="motion web-design cbp-item">
        <a href="../assets/global/img/portfolio/1200x900/82.jpg" class="cbp-caption cbp-lightbox"
           data-title="Sonor Website<br>by Cosmin Capitanu">
            <div class="cbp-caption-defaultWrap">
                <img src="../assets/global/img/portfolio/600x600/8.jpg" alt=""></div>
            <div class="cbp-caption-activeWrap">
                <div class="cbp-l-caption-alignCenter">
                    <div class="cbp-l-caption-body">
                        <div class="cbp-l-caption-title">Sonor Website</div>
                        <div class="cbp-l-caption-desc">by Cosmin Capitanu</div>
                    </div>
                </div>
            </div>
        </a>
    </div>
</div>