<% if user_signed_in? %>
    <% if current_user.admin? %>
        <li><%= link_to "Admin", admin_dashboard_path %> </li>
    <% end %>
    <li><%= link_to "My Profile", edit_user_registration_path %> </li>
    <li><%= link_to "Sign out", destroy_user_session_path %> </li>
<% else %>
    <li><%= link_to "Sign up", new_user_registration_path %> </li>
    <li><%= link_to "Sign in", new_user_session_path %> </li>
<% end %>