<%= form_for([:admin, @model_relation]) do |f| %>
    <% if @model_relation.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@model_relation.errors.count, "error") %> prohibited this model_relation from being
            saved:</h2>

          <ul>
            <% @model_relation.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :mid_main %><br>
      <%= f.number_field :mid_main %>
    </div>
    <div class="field">
      <%= f.label :model_main %><br>
      <%= f.text_field :model_main %>
    </div>
    <div class="field">
      <%= f.label :mid %><br>
      <%= f.number_field :mid %>
    </div>
    <div class="field">
      <%= f.label :model %><br>
      <%= f.text_field :model %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
