<h1>Listing model_relations</h1>

<table>
  <thead>
  <tr>
    <th>Mid main</th>
    <th>Model main</th>
    <th>Mid</th>
    <th>Model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @model_relations.each do |model_relation| %>
      <tr>
        <td><%= @mm = model_relation.mid_main %><br>
          <%= model_relation.record %>  - e
        </td>
        <td><%= model_relation.model_main %></td>
        <td><%= @mi=model_relation.mid %>
        </td>
        <td><%= model_relation.model %></td>
        <td><%= link_to 'Show', [:admin, model_relation] %></td>
        <td><%= link_to 'Edit', edit_admin_model_relation_path(model_relation) %></td>
        <td><%= link_to 'Destroy', [:admin, model_relation], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Model relation', new_admin_model_relation_path %>
