<p id="notice"><%= notice %></p>

<p>
  <strong>Mid main:</strong>
  <%= @model_relation.mid_main %>
</p>

<p>
  <strong>Model main:</strong>
  <%= @model_relation.model_main %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @model_relation.mid %>
</p>

<p>
  <strong>Model:</strong>
  <%= @model_relation.model %>
</p>

<%= link_to 'Edit', edit_admin_model_relation_path(@model_relation) %> |
<%= link_to 'Back', admin_model_relations_path %>
