<% if @block.system? %>
    <%= render 'shared/blocks/system/'+@block.machine_name, locale: @block %>
<% else %>
    <% unless @block.record_type.nil? %>
        <% if FileTest.exists?('app/themes/'+theme_resolver+'/views/blocks/_'+@block.entity+'.html.erb') %>
            <%= render 'blocks/'+@block.entity+'.html.erb', locale: @block %>
        <% else %>
            <%= render 'shared/blocks/show', locale: @block %>
        <% end %>
    <% else %>
        <%= render 'shared/blocks/show', locale: @block %>
    <% end %>
<% end %>