<% @blocks.each do |block| %>
    <% if block.url.nil? %>
        <%= render 'shared/blocks/block', locals: @block = block %>
    <% else %>
        <% case block.type_url %>
<% when 'enter' %>
            <%= render 'shared/blocks/block', locals: @block = block %>
        <% when 'only_urls' %>
            <% if block.url.split("\r\n").collect { |n| n== request.path.gsub(locale.to_s+'/', '') }.include?(true) == true %>
                <%= render 'shared/blocks/block', locals: @block = block %>
            <% end %>
        <% when 'except_urls' %>
            <% if block.url.split("\r\n").collect { |n| n== request.path.gsub(locale.to_s+'/', '')}.include?(true) != true %>
                <%= render 'shared/blocks/block', locals: @block = block %>
            <% end %>
        <% end %>
    <% end %>
<% end %>
