<p id="notice"><%= notice %></p>

<h1>Flags</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Mid</th>
      <th>Model</th>
      <th>Type flag</th>
      <th>Position</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @flags.each do |flag| %>
      <tr>
        <td><%= flag.user %></td>
        <td><%= flag.mid %></td>
        <td><%= flag.model %></td>
        <td><%= flag.type_flag %></td>
        <td><%= flag.position %></td>
        <td><%= link_to 'Show', flag %></td>
        <td><%= link_to 'Edit', edit_flag_path(flag) %></td>
        <td><%= link_to 'Destroy', flag, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flag', new_flag_path %>
