<%= form_for([:admin, @cell], html: {class: 'form-horizontal record', multipart: true}) do |f| %>
    <% if @cell.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@cell.errors.count, "error") %> prohibited this cell from being saved:</h2>

          <ul>
            <% @cell.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :record_type_id %><br>
      <%= f.collection_select :record_type_id, RecordType.where(model: 'Cell').all, :id, :name, include_blank: false, class: "form-select" %>
    </div>
    <div class="field">
      <%= f.label :public %><br>
      <%= f.check_box :public %>
    </div>
    <div class="field">
      <%= f.label :position %><br>
      <%= f.number_field :position %>
    </div>
    <div class="well">
      <div class="form-group form-md-line-input form-md-floating-label">
        <%= f.text_field :group, class: 'form-control', id: 'form_control_1' %>
        <label for="form_control_1"><%= t('group') %></label>
        <span class="help-block"><%= t('groupdesc') %></span>
      </div>
    </div>
    <%= render 'admin/shared/fci/fci_in_model_form', locale: @model=@cell %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
