$("#current-cell").html("<%= escape_javascript(render partial: 'admin/records/current_cells_list', :object => @cells ) %>");
$("#current-cell").html("<%= escape_javascript(render partial: 'admin/blocks/current_cells_list', :object => @cells ) %>");
$("#current-cell").html("<%= escape_javascript(render partial: 'admin/profiles/current_cells_list', :object => @cells, locale: @profile ) %>");
