<h1>Listing cells</h1>

<table>
  <thead>
  <tr>
    <th>Record type</th>
    <th>Public</th>
    <th>Position</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @cells.each do |cell| %>
      <tr>
        <td><%= cell.record_type %></td>
        <td><%= cell.public %></td>
        <td><%= cell.position %></td>
        <td><%= link_to 'Show', [:admin, cell] %></td>
        <td><%= link_to 'Edit', edit_admin_cell_path(cell) %></td>
        <td><%= link_to 'Destroy', [:admin, cell], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cell', new_admin_cell_path %>
