<p id="notice"><%= notice %></p>

<p>
  <strong>Record type:</strong>
  <%= @cell.record_type %>
</p>

<p>
  <strong>Public:</strong>
  <%= @cell.public %>
</p>

<p>
  <strong>Position:</strong>
  <%= @cell.position %>
</p>

<%= link_to 'Edit', edit_admin_cell_path(@cell) %> |
<%= link_to 'Back', admin_cells_path %>
