<%= System.find_by_key(:robotstxt).value %>

<% @records.each do |r| %>
    Disallow: <%= record_url(r) %>
<% end %>

<% @taxonomies.each do |t| %>
    Disallow: <%= taxonomy_url(t) %>
<% end %>

#Sitemap: <%= main_app.root_url %>sitemap.xml
