<?xml version="1.0" encoding="UTF-8"?>
<urlset
      xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
  <url>
    <loc><%= root_url %></loc>
    <changefreq>daily</changefreq>
  </url>
<% Record.where(public: true).each do |record| %>
  <url>
    <loc><%= record_url(record) %></loc>
    <changefreq>daily</changefreq>
  </url>
<% end %>
</urlset>