<!DOCTYPE html>
<html>
<head>
  <%= yield :seo %>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag "iteasycmf/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "iteasycmf/all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <%= growlyflash_static_notices %>
</head>
<body>
<%= blocks(:header) %>
<%= blocks(:sidebar) %>
<%= blocks(:content) %>

</body>
</html>