<%= display_meta_tags :title => t('log_in') %>
<div class="row">
  <div id="login" class="col-md-4 col-md-offset-4">
    <div class="well">
    <div class="page-header">
      <h2><%= t('log_in') %></h2>
</div>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="input-group">
     <%= f.text_field :login,  class: "form-control", placeholder: t('email') %>
</div>
      <div class="input-group">
     <%= f.password_field :password, autocomplete: "off",  class: "form-control", placeholder: t('password') %>
</div>
      <% if devise_mapping.rememberable? -%>
         <div class="input-group">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
      <% end -%>

          <div class="input-group">
        <%= f.submit t('log_in'), class: "btn btn-primary" %>
      </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>