<%= form_for([:admin, @role]) do |f| %>
    <% if @role.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@role.errors.count, "error") %> prohibited this role from being saved:</h2>

          <ul>
            <% @role.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>


    <div class="form-group form-md-line-input form-md-floating-label">
      <%= f.text_field :name, class: 'form-control', id: 'form_control_1' %>
      <label for="form_control_1">Название роли</label>

    </div>
    <div class="form-group form-md-line-input form-md-floating-label">
      <%= f.text_field :machine_name, class: 'form-control', id: 'form_control_1', disabled: true %>
      <label for="form_control_1">Машинное имя роли</label>

    </div>

    <div class="form-group md-checkbox">
      <%= f.check_box :active, id: "checkbox30ic", class: "md-check" %>
      <label for="checkbox30ic">
        <span class="inc"></span>
        <span class="check"></span>
        <span class="box"></span>
        Статус </label>
    </div>
    <div class="well">
      <table class="table table-striped table-bordered table-hover">
        <thead>
        <tr>
          <th>Название</th>
          <th>Описание</th>
          <th>Админ</th>
          <th>Статус</th>
        </tr>
        </thead>

        <tbody>
        <%= f.fields_for :permission_roles do |p| %>
            <tr>
              <td>
                <%= p.object.permission.name %>
              </td>
              <td>
                <%= p.object.permission.description %>

              </td>
              <td>

                <% if p.object.permission.admin? %>
                    <i class="glyphicon glyphicon-ok-circle"></i>
                <% else %>
                    <i class="glyphicon glyphicon-remove-circle"></i>
                <% end %>
                <%= p.hidden_field :role_id %>
                <%= p.hidden_field :permission_id %>
                <%= p.hidden_field :subject_id %>
              </td>
              <td>
                <div class="form-group md-checkbox">
                  <%= p.check_box :active, id: "checkbox30 #{p}", class: "md-check" %>
                  <label for="checkbox30 <%= p %>">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                  </label>
                </div>
              </td>
            </tr>
        <% end %>
        </tbody>
      </table>
      <div class="actions">
        <%= f.submit %>
      </div>
    </div>
<% end %>
