<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= @role.name %>
  <small>тут вы можете имзенить роль и выставить её права</small>
</h3>
<%= render 'form' %>

<%= link_to t(:back), admin_roles_path, class: 'btn btn-primary' %>
