<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  Список ролей
  <small>доступных для редактирования, добавления и изменения. Права доступа можно выставить на странице просмотра
    роли
  </small>
</h3>
<div class="well">
  <%= form_for(([:admin, @role]), html: {class: 'block', multipart: true}) do |f| %>


      <div class="col-md-4">
        <div class="form-group form-md-line-input form-md-floating-label">
          <%= f.text_field :name, class: 'form-control', id: 'form_control_1' %>
          <label for="form_control_1">Название</label>
          <span class="help-block">Название роли</span>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group md-checkbox">
          <%= f.check_box :public, :checked => 'checked', id: "checkbox30", class: "md-check" %>
          <label for="checkbox30">
            <span class="inc"></span>
            <span class="check"></span>
            <span class="box"></span>
            Активно? </label>
        </div>
      </div>

      <div class="col-md-4">
              <span class="input-group-btn btn-right">
              <%= f.submit t('create record'), class: 'btn btn-primary' %>
                  </span>
      </div>

  <% end %>
  <br/>
  <br/>
  <br/>

  <table class="table table-striped table-bordered table-hover">

    <thead>
    <tr>
      <th>Название</th>
      <th>Машинное имя</th>
      <th>Статус</th>
      <th>Действия</th>
    </tr>
    </thead>

    <tbody>
    <% @roles.each do |role| %>
        <tr>
          <td><%= role.name %></td>
          <td><%= role.machine_name %></td>
          <td><%= role.active %></td>
          <td><%= link_to '', [:admin, role], class: 'glyphicon glyphicon-eye-open' %>
            <%= link_to '', edit_admin_role_path(role), class: 'glyphicon glyphicon-pencil' %>
            <%= link_to '', [:admin, role], method: :delete, data: {confirm: 'Are you sure?'}, class: 'glyphicon glyphicon-remove' %></td>
        </tr>
    <% end %>
    </tbody>
  </table>

  <br>

</div>