<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @role.name %>
</p>

<p>
  <strong>Machine name:</strong>
  <%= @role.machine_name %>
</p>

<p>
  <strong>Active:</strong>
  <%= @role.active %>
</p>

<%= link_to t(:edit), edit_admin_role_path(@role) %> |
<%= link_to t(:back), admin_roles_path %>
