<% fci_references = FciReference.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id) %>
<% if fci_references.empty? %>
    <%= text_field_tag ":fci_reference_value"+@fci.machine_name %>
<% else %>
    <% fci_references.each do |string| %>
        <%= text_field_tag ":fci_reference_value"+@fci.machine_name, string.value %>
    <% end %>
<% end %>