<%= form_for([:admin, @fci_reference]) do |f| %>
    <% if @fci_reference.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fci_reference.errors.count, "error") %> prohibited this fci_reference from being
            saved:</h2>

          <ul>
            <% @fci_reference.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :fci_id %><br>
      <%= f.text_field :fci_id %>
    </div>
    <div class="field">
      <%= f.label :mid %><br>
      <%= f.number_field :mid %>
    </div>
    <div class="field">
      <%= f.label :model %><br>
      <%= f.text_field :model %>
    </div>
    <div class="field">
      <%= f.label :rmodel %><br>
      <%= f.text_field :rmodel %>
    </div>
    <div class="field">
      <%= f.label :rrecord_type %><br>
      <%= f.number_field :rrecord_type %>
    </div>
    <div class="field">
      <%= f.label :rmid %><br>
      <%= f.number_field :rmid %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
