<h1>Listing fci_references</h1>

<table>
  <thead>
  <tr>
    <th>Fci</th>
    <th>Mid</th>
    <th>Model</th>
    <th>Rmodel</th>
    <th>Rrecord type</th>
    <th>Rmid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fci_references.each do |fci_reference| %>
      <tr>
        <td><%= fci_reference.fci %></td>
        <td><%= fci_reference.mid %></td>
        <td><%= fci_reference.model %></td>
        <td><%= fci_reference.rmodel %></td>
        <td><%= fci_reference.rrecord_type %></td>
        <td><%= fci_reference.rmid %></td>
        <td><%= link_to 'Show', [:admin, fci_reference] %></td>
        <td><%= link_to 'Edit', edit_admin_fci_reference_path(fci_reference) %></td>
        <td><%= link_to 'Destroy', [:admin, fci_reference], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci reference', new_admin_fci_reference_path %>
