<p id="notice"><%= notice %></p>

<p>
  <strong>Fci:</strong>
  <%= @fci_reference.fci %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @fci_reference.mid %>
</p>

<p>
  <strong>Model:</strong>
  <%= @fci_reference.model %>
</p>

<p>
  <strong>Rmodel:</strong>
  <%= @fci_reference.rmodel %>
</p>

<p>
  <strong>Rrecord type:</strong>
  <%= @fci_reference.rrecord_type %>
</p>

<p>
  <strong>Rmid:</strong>
  <%= @fci_reference.rmid %>
</p>

<%= link_to 'Edit', edit_admin_fci_reference_path(@fci_reference) %> |
<%= link_to 'Back', admin_fci_references_path %>
