<div class="page-header">
  <h1>Editing seomore</h1>
</div>

<%= render 'form' %>

<%= link_to 'Show', [:admin, @seomore], class: 'btn btn-default' %>
<%= link_to 'Back', admin_seomores_path, class: 'btn btn-default' %>
