<div class="page-header">
  <h1>Listing seomores</h1>
</div>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Title</th>
    <th>Keywords</th>
    <th>Desc</th>
    <th>Noindex</th>
    <th>Nofollow</th>
    <th>Canonical</th>
    <th>Author</th>
    <th>Publisher</th>
    <th>Alternate</th>
    <th>Refresh</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @seomores.each do |seomore| %>
      <tr>
        <td><%= seomore.title %></td>
        <td><%= seomore.keywords %></td>
        <td><%= seomore.desc %></td>
        <td><%= seomore.noindex %></td>
        <td><%= seomore.nofollow %></td>
        <td><%= seomore.canonical %></td>
        <td><%= seomore.author %></td>
        <td><%= seomore.publisher %></td>
        <td><%= seomore.alternate %></td>
        <td><%= seomore.refresh %></td>
        <td><%= link_to 'Show', [:admin, seomore], class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Edit', edit_admin_seomore_path(seomore), class: 'btn btn-default btn-xs' %></td>
        <td><%= link_to 'Destroy', [:admin, seomore], method: :delete, data: {confirm: 'Are you sure?'}, class: 'btn btn-xs btn-danger' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Seomore', new_admin_seomore_path, class: 'btn btn-primary' %>
