<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><strong>Title:</strong></dt>
  <dd><%= @seomore.title %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Keywords:</strong></dt>
  <dd><%= @seomore.keywords %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Desc:</strong></dt>
  <dd><%= @seomore.desc %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Noindex:</strong></dt>
  <dd><%= @seomore.noindex %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Nofollow:</strong></dt>
  <dd><%= @seomore.nofollow %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Canonical:</strong></dt>
  <dd><%= @seomore.canonical %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Author:</strong></dt>
  <dd><%= @seomore.author %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Publisher:</strong></dt>
  <dd><%= @seomore.publisher %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Alternate:</strong></dt>
  <dd><%= @seomore.alternate %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Refresh:</strong></dt>
  <dd><%= @seomore.refresh %></dd>
</dl>

<%= link_to 'Edit', edit_admin_seomore_path(@seomore), class: 'btn btn-default' %>
<%= link_to 'Back', admin_seomores_path, class: 'btn btn-default' %>
