<%= form_for([:admin, @plugin_manager]) do |f| %>
    <% if @plugin_manager.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@plugin_manager.errors.count, "error") %> prohibited this plugin_manager from being
            saved:</h2>

          <ul>
            <% @plugin_manager.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
