<h1>Listing plugin_managers</h1>

<table>
  <thead>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @plugin_managers.each do |plugin_manager| %>
      <tr>
        <td><%= link_to 'Show', [:admin, plugin_manager] %></td>
        <td><%= link_to 'Edit', edit_admin_plugin_manager_path(plugin_manager) %></td>
        <td><%= link_to 'Destroy', [:admin, plugin_manager], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plugin manager', new_admin_plugin_manager_path %>
