<!DOCTYPE html>
<html>
<head>
  <title>Iteasycmf</title>
  <%= stylesheet_link_tag "admin", media: "all" %>
  <%= javascript_include_tag "admin" %>
  <%= javascript_include_tag "http://www.google.com/jsapi", "chartkick" %>
  <%= csrf_meta_tags %>
  <%= render 'admin/shared/default/cssandscriptup' %>
</head>


<% if current_user.present? %>
<body class="icon-menu">
<div class="wrapper">

  <%= render 'admin/shared/default/header' %>
    <%= render 'admin/shared/default/sidebar' %>
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-12">
        <%= yield %>
        </div>
      </div>
      </div>
  <footer class="page-footer">
      <%= Time.new.year %> &copy; ITeasycms by ITeasycode.
  </footer>

</div>
<%= render 'admin/shared/default/script_down' %>

</body>
<% else %>

<body class=" login">
  <link href="/admin/css/login-5.css" rel="stylesheet" type="text/css" />
  <!-- BEGIN : LOGIN PAGE 5-1 -->
  <div class="user-login-5">
    <div class="row bs-reset">
      <div class="col-md-6 bs-reset">
        <div class="login-bg" style="background-image:url(/admin/img/login/bg1.jpg)">
              <div class="page-logo">
    <span class="logobar">
      <a href="/admin/dashboard">
        <span class="logo_big">IT</span><span class="logo_small">easycmf</span>
      </a>
      </span>
      <!--<div class="menu-toggler sidebar-toggler"> </div>-->
    </div></div>
        </div>
        <div class="col-md-6 login-container bs-reset">
          <div class="login-content">
            <h1><%= t('log_in') %> Для Администратора</h1>
            <p> Вход до системы управление вашим сайтом. Здесь вы можете управлять всем. Большое спасибо Вам, за то что пользуетесь нашой системой! Наша команда надеется что у вас остануться только самые положительные впечатления! </p>
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="alert alert-danger display-hide">
              <button class="close" data-close="alert"></button>
              <span>Введите ваш логин и пароль. </span>
            </div>
            <div class="row">
              <div class="col-xs-6">
                <%= f.text_field :login,  class: "form-control form-control-solid placeholder-no-fix form-group", placeholder: t('email'), required: true %></div>
                <div class="col-xs-6">

                  <%= f.password_field :password, autocomplete: "off",  class: "form-control form-control-solid placeholder-no-fix form-group", placeholder: t('password'), required: true %> </div>
                </div>
                <div class="row">
                  <div class="col-sm-4">
                    <div class="rem-password">
                      <% if devise_mapping.rememberable? -%>
                      <div class="input-group">
                        <p><%= f.check_box :remember_me %></p>
                        <%= f.label :remember_me %>
                      </div>
                      <% end -%>
                    </div>
                  </div>
                  <div class="col-sm-8 text-right">
                    <%= f.submit t('log_in'), class: "btn blue" %>
                  </div>
                </div>
              </form>

              <% end %>
            </div>
            <div class="login-footer">
              <div class="row bs-reset">

                <div class="col-xs-7 bs-reset">
                  <div class="login-copyright text-right">
                    <p>Copyright &copy; ITeasycms by ITeasycode. <%= Time.new.year %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <%= render 'admin/shared/default/script_down' %>

    </body>
    <% end %>

    </html>