<!DOCTYPE html>
<html>
<head>
  <title>Pacifonic admin</title>
  <%= stylesheet_link_tag    "pacifonic_admin/all", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "pacifonic_admin/all", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>