<% fci_files = FciFile.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id) %>
<% if fci_files.empty? %>
    <div class="form-group form-md-line-input has-info">
      <div class="input-group input-group-lg">
        <div class="input-group-control">
          <label for="form_control_1"><%= @fci.name %></label>
          <%= file_field_tag ":fci_file_value"+@fci.machine_name, multiple: true %>
        </div>
      </div>
    </div>
<% else %>
    <% fci_files.each do |image| %>
        <div class="form-group form-md-line-input has-info">
          <div class="input-group input-group-lg">
            <div class="input-group-control">
              <label for="form_control_1"><%= @fci.name %></label><br>
              <%= file_field_tag ":fci_file_value"+@fci.machine_name, multiple: true %>
            </div>
          </div>
        </div>
    <% end %>
<% end %>