<h1>Listing fci_files</h1>

<table>
  <thead>
  <tr>
    <th>Value</th>
    <th>Fci</th>
    <th>Mid</th>
    <th>Model</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fci_files.each do |fci_file| %>
      <tr>
        <td><%= fci_file.value %></td>
        <td><%= fci_file.fci %></td>
        <td><%= fci_file.mid %></td>
        <td><%= fci_file.model %></td>
        <td><%= link_to 'Show', [:admin, fci_file] %></td>
        <td><%= link_to 'Edit', edit_admin_fci_file_path(fci_file) %></td>
        <td><%= link_to 'Destroy', [:admin, fci_file], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci file', new_admin_fci_file_path %>
