<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @fci_file.value %>
</p>

<p>
  <strong>Fci:</strong>
  <%= @fci_file.fci %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @fci_file.mid %>
</p>

<p>
  <strong>Model:</strong>
  <%= @fci_file.model %>
</p>

<%= link_to 'Edit', edit_admin_fci_file_path(@fci_file) %> |
<%= link_to 'Back', admin_fci_files_path %>
