<% fci_texts = FciText.where(fci_id: @fci.id, model: @model.model_name.human, mid: @model.id) %>
<% if fci_texts.empty? %>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= @fci.name %> - <%= t('small_text') %></label>
      <div class="col-md-9">
        <%= cktext_area_tag ":fci_shorttext_value"+@fci.machine_name, nil, class: 'form-control', :rows => 2, :cols => 120 %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-md-3 control-label"><%= @fci.name %> - <%= t('full_text') %></label>
      <div class="col-md-9">
        <%= cktext_area_tag ":fci_text_value"+@fci.machine_name, nil, class: 'form-control', :rows => 4, :cols => 120 %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>
<% else %>
    <% fci_texts.each do |text| %>
        <div class="form-group">
          <label class="col-md-3 control-label"><%= @fci.name %> - <%= t('small_text') %></label>
          <div class="col-md-9">
            <%= cktext_area_tag ":fci_shorttext_value"+@fci.machine_name,
                                unless text.nil?
                                  text.shortvalue
                                end, class: 'form-control', :rows => 2, :cols => 120 %>
            <span class="help-block"> <br/> </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"><%= @fci.name %> - <%= t('full_text') %></label>
          <div class="col-md-9">
            <%= cktext_area_tag ":fci_text_value"+@fci.machine_name, text.value, class: 'form-control', :rows => 4, :cols => 120 %>
            <span class="help-block"> <br/> </span>
          </div>
        </div>
    <% end %>
<% end %>