<%= form_for([:admin, @fci_text]) do |f| %>
    <% if @fci_text.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@fci_text.errors.count, "error") %> prohibited this fci_text from being saved:</h2>

          <ul>
            <% @fci_text.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :value %><br>
      <%= f.text_area :value %>
    </div>
    <div class="field">
      <%= f.label :shortvalue %><br>
      <%= f.text_area :shortvalue %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
