<h1>Listing fci_texts</h1>

<table>
  <thead>
  <tr>
    <th>Value</th>
    <th>Shortvalue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
  </thead>

  <tbody>
  <% @fci_texts.each do |fci_text| %>
      <tr>
        <td><%= fci_text.value %></td>
        <td><%= fci_text.shortvalue %></td>
        <td><%= link_to 'Show', [:admin, fci_text] %></td>
        <td><%= link_to 'Edit', edit_admin_fci_text_path(fci_text) %></td>
        <td><%= link_to 'Destroy', [:admin, fci_text], method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Fci text', new_admin_fci_text_path %>
