<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @fci_text.value %>
</p>

<p>
  <strong>Shortvalue:</strong>
  <%= @fci_text.shortvalue %>
</p>

<%= link_to 'Edit', edit_admin_fci_text_path(@fci_text) %> |
<%= link_to 'Back', admin_fci_texts_path %>
