<p>Здравствуйте, <%= @resource.email %>!</p>

<p>Вы подали запрос на сброс пароля, перейдите по ссылке ниже, чтобы сменить пароль.</p>

<p><%= link_to 'Изменить мой пароль', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Если вы ничего не делали, проигнорируйте это письмо.</p>

