<%= form_for([:admin, @user]) do |f| %>
    <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="form-group">
      <label class="col-md-3 control-label"><%= t(:email) %></label>
      <div class="col-md-9">
        <%= f.text_field :email, class: 'form-control', id: 'form_control_1' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-3 control-label"><%= t(:username) %></label>
      <div class="col-md-9">
        <%= f.text_field :username, class: 'form-control', id: 'form_control_1' %>
        <span class="help-block"> <br/> </span>
      </div>
    </div>

    <% unless controller.action_name == 'edit' %>
        <div class="form-group">
          <label class="col-md-3 control-label"><%= t(:password) %></label>
          <div class="col-md-9">
            <%= f.password_field :password, :autocomplete => "off", class: 'form-control', id: 'form_control_1' %>
            <span class="help-block"> <br/> </span>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-3 control-label"><%= t(:password_confirmation) %></label>
          <div class="col-md-9">
            <%= f.password_field :password_confirmation, class: 'form-control', id: 'form_control_1' %>
            <span class="help-block"> <br/> </span>
          </div>
        </div>

    <% end %>
    <% unless @user.id.nil? %>
        <%= f.fields_for :profile, html: {class: 'profile', multipart: true} do |p| %>

            <% if @user.profile.errors.any? %>
                <div id="error_explanation">
                  <h2><%= pluralize(@user.profile.errors.count, "error") %> prohibited this profile from being
                    saved:</h2>

                  <ul>
                    <% @user.profile.errors.full_messages.each do |msg| %>
                        <li><%= msg %></li>
                    <% end %>
                  </ul>
                </div>
            <% end %>


            <%= p.hidden_field :record_type_id %>


            <%= render 'admin/shared/fci/fci_in_model_form', locale: @model=@user.profile %>

        <% end %>
    <% else %>

        <div class="form-group">
          <label class="col-md-3 control-label"><%= t(:role) %></label>
          <div class="col-md-9">
            <%= select_tag 'role', options_for_select(Role.all.collect { |u| [u.name, u.id] }),
                           {class: 'form-control edited', id: 'form_control_1'} %>
            <span class="help-block"> <br/> </span>
          </div>
        </div>

        <% @model=RecordType.find(2) %>
        <% @model.fcis.each do |fci| %>
            <% parsed = JSON.parse(fci.field_custom.value) %>
            <% @fci = fci %>
            <%= render parsed['render'], locals: @fci, object: @model %>
        <% end %>

    <% end %>

    <%= f.submit t('save'), class: 'btn btn-primary' %>
<% end %>

<% if controller.action_name == 'edit' %>
    <%= form_for([:admin, UsersRole.new]) do |f| %>

        <%= f.hidden_field :user_id, value: @user.id %>


        <div class="form-group">
          <label class="col-md-2 control-label"><%= t(:role) %></label>
          <div class="col-md-4">
            <%= f.collection_select :role_id, Role.all, :id, :name, {},
                                    {class: 'form-control edited', id: 'form_control_1'} %>
            <span class="help-block"> <br/> </span>
          </div>
        </div>

        <div class="actions">
          <%= f.submit 'Добавить', class: 'btn btn-primary' %>
        </div>
    <% end %>

    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Роль</th>
        <th>Действие</th>
      </tr>
      </thead>

      <tbody>
      <% @user.users_roles.each do |role| %>
          <tr>
            <td><%= role.role.name %></td>
            <td>
              <%= link_to '', [:admin, role], method: :delete, data: {confirm: 'Вы действительно хотите удалить?'}, class: 'glyphicon glyphicon-remove' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
<% end %>