<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('listing users') %>
  <small><%= t('users desc index') %></small>
</h3>

<div class="well">
  <%= link_to "Excel", admin_users_path(@users, format: "xls"), class: 'btn btn-primary' %>
  <%= link_to t('new user'), new_admin_user_path, class: 'btn btn-primary' %>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th>ФИО</th>
    <th>Email</th>
    <th>Роли</th>
    <th><%= t('created') %></th>
    <th><%= t('sign in count') %></th>
    <th>Последний вход</th>
    <th>Текущий вход</th>
    <th>Последний IP</th>
    <th>Текущий IP</th>
    <th>Блокирован</th>
    <th>Действия</th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= title(user.profile) unless user.profile.nil? %></td>
        <td><%= user.email %></td>
        <td>
          <% user.roles.each do |r| %>
              <%= r.name %> <br/>
          <% end %>
        </td>
        <td><%= Russian::strftime(user.created_at, '%d-%m-%Y') %></td>
        <td><%= user.sign_in_count %></td>
        <td><%= user.last_sign_in_at.strftime('%d-%m-%Y в %H:%M') if user.last_sign_in_at.present? %></td>
        <td><%= user.current_sign_in_at.strftime('%d-%m-%Y в %H:%M') if user.current_sign_in_at.present? %></td>
        <td><%= user.last_sign_in_ip %></td>
        <td><%= user.current_sign_in_ip %></td>
        <td>
          <% if user.locked_at? %>
              <i class="glyphicon glyphicon-ok-circle"></i>
          <% else %>
              <i class="glyphicon glyphicon-remove-circle"></i>
          <% end %>
          <br/>
          <%= link_to('Разблокировать', unlock_user_path(user), method: :post, class: 'button-xs') if user.locked_at?  %>

          </td>
        </td>
        <td>
          <%= link_to '', edit_admin_user_path(user), class: 'glyphicon glyphicon-pencil' %>
          <%= link_to '', [:admin, user], method: :delete, data: {confirm: 'Are you sure?'}, class: 'glyphicon glyphicon-remove' %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>


