<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell>
          <Data ss:Type="String">Id</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String">Email</Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= t('created') %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= t('last_sign_in_at') %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= t('sign in count') %></Data>
        </Cell>
        <Cell>
          <Data ss:Type="String"><%= t('locked?') %></Data>
        </Cell>
        <% RecordType.find_by(machine_name: :personals).fcis.each do |fci| %>
            <% if fci.active? %>
                <Cell>
                  <Data ss:Type="String"><%= fci.name %></Data>
                </Cell>
            <% end %>
        <% end %>
      </Row>
      <% @users.each do |user| %>
          <Row>
            <Cell>
              <Data ss:Type="String"><%= user.id unless user.id.nil? %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= user.email unless user.email.nil? %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= user.created_at %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= user.last_sign_in_at %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String"><%= user.sign_in_count %></Data>
            </Cell>
            <Cell>
              <Data ss:Type="String">
                <% if user.locked_at? %><%= t('yes') %>
                    <% else %><%= t('no') %>
                <% end %></Data>
            </Cell>
            <% unless user.profile.nil? %>
                <% user.profile.fcis.each do |fci| %>
                    <% if fci.active? %>
                        <Cell>
                          <Data ss:Type="String">
                            <% @field_custom =JSON.parse(fci.field_custom.value) %>
                            <% @field =@field_custom['model'].constantize.find_by(fci_id: fci.id, mid: user.profile_id,
                                                                                  model: user.profile.model_name.human) %>
                            <% unless @field.nil? %><%= @field.value %>
                            <% end %></Data>
                        </Cell>
                    <% end %>
                <% end %>
            <% end %>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>