<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  Новый пользователь
  <small>Создание нового пользователя
  </small>
</h3>

<div class="well">
  <%= render 'form' %>

</div>