<strong>Email:</strong>
<%= @user.email %>
<%= form_for([:admin, UsersRole.new]) do |f| %>

    <%= f.hidden_field :user_id, value: @user.id %>


    <div class="col-md-4">
      <div class="form-group form-md-line-input form-md-floating-label">
        <%= f.collection_select :role_id, Role.all, :id, :name, {}, {class: 'form-control edited', id: 'form_control_1'} %>
        <label for="form_control_1">Роль</label>
      </div>
    </div>

    <div class="actions">
      <%= f.submit 'Добавить', class: 'btn btn-primary' %>
    </div>
<% end %>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Роль</th>
    <th>Действие</th>
  </tr>
  </thead>

  <tbody>
  <% @user.users_roles.each do |role| %>
      <tr>
        <td><%= role.role.name %></td>
        <td>
          <%= link_to '', [:admin, role], method: :delete, data: {confirm: 'Вы действительно хотите удалить?'}, class: 'glyphicon glyphicon-remove' %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<%= link_to t(:edit), edit_admin_user_path(@user) %> |
<%= link_to t(:back), admin_users_path %>
