<%= form_for(@taxonomy) do |f| %>
    <% if @taxonomy.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@taxonomy.errors.count, "error") %> prohibited this taxonomy from being saved:</h2>

          <ul>
            <% @taxonomy.errors.full_messages.each do |message| %>
                <li><%= message %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :public %><br>
      <%= f.check_box :public %>
    </div>
    <div class="field">
      <%= f.label :blocked %><br>
      <%= f.check_box :blocked %>
    </div>
    <div class="field">
      <%= f.label :url %><br>
      <%= f.text_field :url %>
    </div>
    <div class="field">
      <%= f.label :taxonomy_id %><br>
      <%= f.text_field :taxonomy_id %>
    </div>
    <div class="field">
      <%= f.label :position %><br>
      <%= f.text_field :position %>
    </div>
    <div class="field">
      <%= f.label :record_type_id %><br>
      <%= f.text_field :record_type_id %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
