<p id="notice"><%= notice %></p>

<h1>Listing Taxonomies</h1>

<table>
  <thead>
  <tr>
    <th>Public</th>
    <th>Blocked</th>
    <th>Url</th>
    <th>Position</th>
    <th>Record type</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% @taxonomies.each do |taxonomy| %>
      <tr>
        <td><%= taxonomy.public %></td>
        <td><%= taxonomy.blocked %></td>
        <td><%= taxonomy.url %></td>
        <td><%= taxonomy.position %></td>
        <td><%= taxonomy.record_type %></td>
        <td><%= link_to 'Show', taxonomy %></td>
        <td><%= link_to 'Edit', edit_taxonomy_path(taxonomy) %></td>
        <td><%= link_to 'Destroy', taxonomy, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Taxonomy', new_taxonomy_path %>
