<%= content_for :seo do %>
    <%= render 'shared/default/seomore', locale: @model=@taxonomy %>
<% end %>
<% if FileTest.exists?("app/themes/#{theme_resolver}/views/taxonomies/_taxonomy_#{@taxonomy.id}.html.erb") %>
	<%= render "taxonomies/taxonomy_#{@taxonomy.id}" %>
<% else %>
	<% if FileTest.exists?("app/themes/#{theme_resolver}/views/taxonomies/_#{@taxonomy.entity}.html.erb") %>
    	<%= render "taxonomies/#{@taxonomy.entity}" %>
	<% else %>
    	<%= dynamic_field(@taxonomy) %>
	<% end %>
<% end %>