        <%= form_for([:admin, @menu_item], html: {class: 'form-horizontal menu_item'}) do |f| %>
        <% if @menu_item.errors.any? %>
        <div id="error_explanation" class="panel panel-danger">
          <div class="panel-heading">
            <h2 class="panel-title"><%= pluralize(@menu_item.errors.count, "error") %> prohibited this menu_item from
              being saved:</h2>
            </div>
            <div class="panel-body">
              <ul>
                <% @menu_item.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
          <% end %>

          <div class="form-group">
            <label class="col-md-2 control-label"><%= t(:name) %></label>
            <div class="col-md-10">
              <%= f.text_field :name, class: 'form-control' %>
              <span class="help-block"> <%= t('desc menu item name') %>  </span>
            </div>
          </div>

          <div class="form-group">
            <label class="col-md-2 control-label"><%= t(:url) %></label>
            <div class="col-md-10">
              <%= f.text_field :url, class: 'form-control' %>
              <span class="help-block"> <%= t('desc menu item url') %>  </span>
            </div>
          </div>


          <div class="form-group">
            <label class="col-md-2 control-label"><%= t(:title) %></label>
            <div class="col-md-10">
              <%= f.text_field :title, class: 'form-control' %>
              <span class="help-block"> <%= t('desc menu item title') %>  </span>
            </div>
          </div>

<% unless @menu.nil? %>
          <%= f.hidden_field :menu_id, value: @menu.id %>
          <% end %>
          <div class="form-group">
            <label class="col-md-2 control-label"><%= t(:public) %></label>
            <div class="col-md-10">
              <%= f.label t(:public), for: nil do %>
              <%= f.check_box :public %>
              <% end %>
              <span class="help-block"> <%= t('desc item public') %>   </span>
            </div>
          </div>

    <div class="form-group">
            <label class="col-md-2 control-label"><%= t(:position) %></label>
            <div class="col-md-10">
             <%= f.number_field :position, class: 'form-control' %>
              <span class="help-block"> <%= t('desc menu item position') %>  </span>
            </div>
          </div>

              <div class="form-group">
            <label class="col-md-2 control-label"><%= t(:csscls) %></label>
            <div class="col-md-10">
              <%= f.text_field :csscls, class: 'form-control' %>
              <span class="help-block"> <%= t('desc menu item csscls') %>  </span>
            </div>
          </div>

          <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
              <%= f.submit t('save'), class: 'btn btn-primary' %>
            </div>
          </div>
          <% end %>