<span class="listitem listitem-drags handle"><i class="icon-cursor-move"></i></span>
<span class="listitem listitem-name"><a href="<%= menu_item_url(menu_item) %>"><%= menu_item.name %></a></span>
<span class="listitem listitem-pub"><% if menu_item.public? %>
              <i class="glyphicon glyphicon-ok-circle"></i>
          <% else %>
              <i class="glyphicon glyphicon-remove-circle"></i>
          <% end %></td></span>
<span class="listitem listitem-action"><%= link_to '', edit_admin_menu_item_path(menu_item), class: 'glyphicon glyphicon-pencil' %> &zwnj;
  <%= link_to '', [:admin, menu_item], method: :delete, data: {confirm: 'Are you sure?'}, class: 'glyphicon glyphicon-remove' %></span>