<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('editing menu_item') %>
  <small><%= t('menu_items desc editing') %></small>
</h3>

<div class="well">

<%= render 'form' %>

</div>