<div class="page-header">
  <h1>Listing menu_items</h1>
</div>


<ol class="sortable_tree">
  <%= sortable_tree @menu_items %>
</ol>

<br>


<%= link_to 'New Menu item', new_admin_menu_item_path, class: 'btn btn-primary' %>
