<p id="notice"><%= notice %></p>

<dl class="dl-horizontal">
  <dt><strong>Name:</strong></dt>
  <dd><%= @menu_item.name %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Url:</strong></dt>
  <dd><%= @menu_item.url %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Title:</strong></dt>
  <dd><%= @menu_item.title %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Menu:</strong></dt>
  <dd><%= @menu_item.menu %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Menu item:</strong></dt>
  <dd><%= @menu_item.menu_item %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Public:</strong></dt>
  <dd><%= @menu_item.public %></dd>
</dl>

<dl class="dl-horizontal">
  <dt><strong>Position:</strong></dt>
  <dd><%= @menu_item.position %></dd>
</dl>

<%= link_to t(:edit), edit_admin_menu_item_path(@menu_item), class: 'btn btn-default' %>
<%= link_to t(:back), admin_menu_items_path, class: 'btn btn-default' %>
