<%= form_for([:admin, @flag]) do |f| %>
  <% if @flag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@flag.errors.count, "error") %> prohibited this flag from being saved:</h2>

      <ul>
      <% @flag.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
      <%= f.label :user_id %><br>
    <%= f.text_field :user_id %>
    </div>
  <div class="field">
      <%= f.label :mid %><br>
    <%= f.number_field :mid %>
    </div>
  <div class="field">
      <%= f.label :model %><br>
    <%= f.text_field :model %>
    </div>
  <div class="field">
      <%= f.label :type_flag %><br>
    <%= f.text_field :type_flag %>
    </div>
  <div class="field">
      <%= f.label :position %><br>
    <%= f.number_field :position %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
