<h1>Listing flags</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Mid</th>
      <th>Model</th>
      <th>Type flag</th>
      <th>Position</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @flags.each do |flag| %>
      <tr>
        <td><%= flag.user %></td>
        <td><%= flag.mid %></td>
        <td><%= flag.model %></td>
        <td><%= flag.type_flag %></td>
        <td><%= flag.position %></td>
        <td><%= link_to 'Show', [:admin, flag] %></td>
        <td><%= link_to 'Edit', edit_admin_flag_path(flag) %></td>
        <td><%= link_to 'Destroy', [:admin, flag], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Flag', new_admin_flag_path %>
