<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @flag.user %>
</p>

<p>
  <strong>Mid:</strong>
  <%= @flag.mid %>
</p>

<p>
  <strong>Model:</strong>
  <%= @flag.model %>
</p>

<p>
  <strong>Type flag:</strong>
  <%= @flag.type_flag %>
</p>

<p>
  <strong>Position:</strong>
  <%= @flag.position %>
</p>

<%= link_to 'Edit', edit_admin_flag_path(@flag) %> |
<%= link_to 'Back', admin_flags_path %>
