<!-- BEGIN DASHBOARD STATS -->
<div class="row">
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat blue-madison">
      <div class="visual">
        <i class="fa fa-comments"></i>
      </div>
      <div class="details">
        <div class="number">
          <%= Comment.all.count %>
        </div>
        <div class="desc">
          <%= t('all comments') %>
        </div>
      </div>
      <a class="more" href="<%= admin_comments_url %>">
        <%= t('view more') %> <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat red-intense">
      <div class="visual">
        <i class="fa fa-file-word-o"></i>
      </div>
      <div class="details">
        <div class="number">
          <%= Record.all.count %>
        </div>
        <div class="desc">
          <%= t('all records') %>
        </div>
      </div>
      <a class="more" href="<%= admin_records_url %>">
        <%= t('view more') %> <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat green-haze">
      <div class="visual">
        <i class="fa fa-reddit"></i>
      </div>
      <div class="details">
        <div class="number">
          <%= User.all.count %>
        </div>
        <div class="desc">
          <%= t('all users') %>
        </div>
      </div>
      <a class="more" href="<%= admin_users_url %>">
        <%= t('view more') %> <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
  <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
    <div class="dashboard-stat purple-plum">
      <div class="visual">
        <i class="fa fa-globe"></i>
      </div>
      <div class="details">
        <div class="number">

        </div>
        <div class="desc">

        </div>
      </div>
      <a class="more" href="javascript:;">
        <%= t('view more') %> <i class="m-icon-swapright m-icon-white"></i>
      </a>
    </div>
  </div>
</div>
<!-- END DASHBOARD STATS -->