<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('dashboard') %>
  <small><%= t('reports & statistics') %></small>
</h3>
<%= render 'admin/statics/dashb_stat' %>
<div class="clearfix">
</div>

<div class="row">
  <% if ActiveRecord::Base.connection.adapter_name != "SQLite" %>

  <% end %>
  <div class="col-md-6 col-sm-6">
    <div class="portlet light ">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-share font-red-sunglo hide"></i>
          <span class="caption-subject font-red-sunglo bold uppercase"></span>
          <span class="caption-helper"></span>
        </div>
      </div>
      <div class="portlet-body">
        <div id="site_activities_content">

        </div>
      </div>
    </div>
    <%= pie_chart Record.select('entity').group_by { |r| r.entity }.count %>
  </div>
</div>
<div class="clearfix">
</div>
