<%= form_for([:admin, @menu], html: {class: 'form-horizontal menu'}) do |f| %>
    <% if @menu.errors.any? %>
        <div id="error_explanation" class="panel panel-danger">
          <div class="panel-heading">
            <h2 class="panel-title"><%= pluralize(@menu.errors.count, "error") %> prohibited this menu from being
              saved:</h2>
          </div>
          <div class="panel-body">
            <ul>
              <% @menu.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        </div>
    <% end %>

    <div class="form-group">
      <label class="col-md-2 control-label"><%= t(:name) %></label>
      <div class="col-md-10">
        <%= f.text_field :name, class: 'form-control' %>
        <span class="help-block"> <%= t('desc menu name') %>  </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label"><%= t(:description) %></label>
      <div class="col-md-10">
        <%= f.text_area :desc, class: 'form-control' %>
        <span class="help-block"> <%= t('desc menu desc') %>  </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label"><%= t(:public) %></label>
      <div class="col-md-10">
        <%= f.label t(:public), for: nil do %>
            <%= f.check_box :public %>
        <% end %>
        <span class="help-block"> <%= t('desc menu public') %>   </span>
      </div>
    </div>

    <div class="form-group">
      <label class="col-md-2 control-label"><%= t('machine name') %></label>
      <div class="col-md-10">
        <%= f.text_field :machine_name, class: 'form-control' %>
        <span class="help-block"> <%= t('desc menu mname') %>  </span>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit t('save'), class: 'btn btn-primary' %>
      </div>
    </div>
<% end %>