<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('listing menus') %>
  <small><%= t('menus desc index') %></small>
</h3>

<div class="well">
<div class="portlet box green">
  <div class="portlet-title">
    <div class="caption">
      <i class="fa fa-gift"></i>  <%= t('new menus') %></div>
    <div class="tools">
      <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
    </div>
  </div>
  <div class="portlet-body portlet-collapsed">
    <%= render 'form' %>

  </div>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th><%= t('name') %></th>
    <th><%= t('description') %></th>
    <th><%= t('public') %></th>
    <th><%= t('vissible block') %></th>
    <th><%= t('machine name') %></th>
    <th><%= t('action') %></th>
  </tr>
  </thead>

  <tbody>
  <% @menus.each do |menu| %>
      <tr>
        <td><%= menu.name %></td>
        <td><%= menu.desc %></td>
        <td><% if menu.public? %>
              <i class="glyphicon glyphicon-ok-circle"></i>
          <% else %>
              <i class="glyphicon glyphicon-remove-circle"></i>
          <% end %></td>
        <td><%= menu.block.name unless menu.block.nil? %></td>
        <td><%= menu.machine_name unless menu.block.nil? %></td>
        <td><%= link_to '',  [:admin, menu], class: 'glyphicon glyphicon-eye-open' %>
          <%= link_to '', edit_admin_menu_path(menu), class: 'glyphicon glyphicon-pencil' %>
          <%= link_to '', [:admin, menu], method: :delete, data: {confirm: 'Are you sure?'}, class: 'glyphicon glyphicon-remove' unless menu.blocked? %>
            
          </td>
      </tr>
  <% end %>
  </tbody>
</table>
</div>
