<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('listing menu_items') %>
  <small><%= t('menu_items desc index') %></small>
</h3>

<div class="well">
  <div class="portlet box green">
    <div class="portlet-title">
      <div class="caption">
        <i class="fa fa-gift"></i>  <%= t('new menu_items') %></div>
        <div class="tools">
          <a href="javascript:;" class="collapse" data-original-title="" title=""> </a>
        </div>
      </div>
      <div class="portlet-body portlet-collapsed">
      <%= render "admin/menu_items/form" %>
        </div>
      </div>
 <ul id="sortable-head">
  <li class="clearfix header">
    <div class="listitem-drags">
     <i class="icon-cursor-move"></i>
    </div>
    <div class="listitem-name">
      <%= t(:name) %>
    </div>
    <div class="listitem-pub">
      <%= t(:public) %>
    </div>
    <div class="listitem-action">
      <%= t(:action) %>
    </div>
  </li>
          <% if @menu.menu_items.present? %>
          <ul id="sortable-list">
            <%= render 'admin/menus/suckerfish' %>
          </ul>
          <% end %>
</ul>
    </div>
