<% RecordType.where(model: 'Cell').each do |cell| %>

    <div class="modal fade" id="draggable<%= cell.machine_name %>" aria-hidden="true">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title"><%= cell.name %></h4>
        </div>
        <div class="modal-body"><%= form_for([:admin, @cell], remote: true, html: {class: 'cell', multipart: true}) do |f| %>
              <% if @cell.errors.any? %>
                  <div id="error_explanation">
                    <h2><%= pluralize(@cell.errors.count, "error") %> prohibited this cell from being saved:</h2>

                    <ul>
                      <% @cell.errors.full_messages.each do |msg| %>
                          <li><%= msg %></li>
                      <% end %>
                    </ul>
                  </div>
              <% end %>
              <%= f.hidden_field :record_type_id, value: cell.id %>
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <%= hidden_field_tag :mid_main, @record.id %>
              <%= hidden_field_tag :model_main, @record.model_name.name %>
              <div class="well">
                <div class="form-group md-checkbox">
                  <%= f.check_box :public, id: "checkbox#{cell.id}", class: "md-check" %>
                  <label for="checkbox<%= cell.id %>">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    <%= t('public') %> </label>
                </div>
              </div>
              <div class="well">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <%= f.number_field :position, class: 'form-control', id: 'form_control_1' %>
                  <label for="form_control_1"><%= t('position') %></label>
                  <span class="help-block"><%= t('positiondesc') %></span>
                </div>
              </div>
              <div class="well">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <%= f.text_field :group, class: 'form-control', id: 'form_control_1' %>
                  <label for="form_control_1"><%= t('group') %></label>
                  <span class="help-block"><%= t('groupdesc') %></span>
                </div>
              </div>
              <% cell.fcis.each do |fci| %>
                  <% parsed = JSON.parse(fci.field_custom.value) %>
                  <% @fci = fci %>
                  <%= render parsed['render'], locals: @fci, object: @model %>
              <% end %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn dark btn-outline" data-dismiss="modal">Close</button>
                <%= f.submit t('save'), class: 'btn green' %>
          <% end %>
          </div>
          </div>
      <!-- /.modal-content -->

      <!-- /.modal-dialog -->
    </div>
<% end %>