<% record.model_relations.where(mid_main: record.id, model: 'Taxonomy').each do |mr| %>
    <li>
      <span class="listitem"><a href="/<%= mr.taxonomy.record_type.machine_name %>/<%= mr.taxonomy.url ? mr.taxonomy.url : '-' %>" target="_blank"><%= mr.taxonomy.id %>
        - <%= mr.taxonomy.title %></a></span>
      <span class="listitem pub"><% if mr.taxonomy.public %>
<i class="glyphicon glyphicon-ok-circle"></i>
<% else %>
<i class="glyphicon glyphicon-remove-circle"></i>
<% end %>
</span>
      <span class="listitem act">
  <%= link_to 'Destroy', admin_model_relation_path(mr), remote: true, method: :delete, data: {confirm: 'Are you sure?'} %>
</span>
    <li>
<% end %>