<table class="table table-striped table-bordered table-hover">
  <thead>
  <% unless @cells.empty? %>
      <tr>
        <th><%= t('id') %></th>
        <th><%= t('public') %></th>
        <% @cells.first.fcis.limit(5).each do |fci| %>
            <th><%= fci.name %></th>
        <% end %>
        <th><%= t('action') %></th>
      </tr>
      </thead>
      <tbody>

      <% @cells.each do |cell| %>
          <tr>
            <td><%= cell.id %></td>
            <td>
              <% if cell.public? %>
                  <i class="glyphicon glyphicon-ok-circle"></i>
              <% else %>
                  <i class="glyphicon glyphicon-remove-circle"></i>
              <% end %></td>
            <% cell.fcis.limit(5).each do |namefield| %>
                <% if namefield.active? %>
                    <td><%= field(cell, namefield.machine_name) %></td>
                <% end %>
            <% end %>
            <td>
              <a class='glyphicon glyphicon-pencil' data-toggle="modal" href="#draggable<%= cell.id %>"></a>
              <%= link_to '', [:admin, cell], remote: true, method: :delete, data: {confirm: 'Are you sure?'}, class: 'glyphicon glyphicon-remove' %>
              <div class="modal fade" id="draggable<%= cell.id %>" aria-hidden="true">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                    <h4 class="modal-title"><%= cell.id %></h4>
                  </div>
                  <div class="modal-body">
                    <%= form_for([:admin, cell], html: {class: 'form-horizontal record', multipart: true}) do |f| %>
                        <% if cell.errors.any? %>
                            <div id="error_explanation">
                              <h2><%= pluralize(cell.errors.count, "error") %> prohibited this cell from being
                                saved:</h2>

                              <ul>
                                <% cell.errors.full_messages.each do |msg| %>
                                    <li><%= msg %></li>
                                <% end %>
                              </ul>
                            </div>
                        <% end %>

                        <div class="field">
                          <%= f.label :public %><br>
                          <%= f.check_box :public %>
                        </div>
                        <div class="well">
                          <div class="form-group form-md-line-input form-md-floating-label">
                            <%= f.label :position %><br>
                            <%= f.number_field :position %>
                            <label for="form_control_1"><%= t('position') %></label>
                            <span class="help-block"><%= t('positiondesc') %></span>
                          </div>

                        </div>
                        <div class="well">
                          <div class="form-group form-md-line-input form-md-floating-label">
                            <%= f.text_field :group, class: 'form-control', id: 'form_control_1' %>
                            <label for="form_control_1"><%= t('group') %></label>
                            <span class="help-block"><%= t('groupdesc') %></span>
                          </div>
                        </div>
                        <%= render 'admin/shared/fci/fci_in_model_form', locale: @model=cell %>
                        <div class="actions">
                          <%= f.submit %>
                        </div>
                    <% end %>

                  </div>
                </div>
              </div>
            </td>
      <% end %>
      </tr>
  <% end %>
  </tbody>
  </table>