<%= form_for([:admin, @record], html: {class: 'record', multipart: true}) do |f| %>
<% if @record.errors.any? %>
<div id="error_explanation" class="panel panel-danger">
  <div class="panel-heading">
    <h2 class="panel-title"><%= pluralize(@record.errors.count, "error") %> prohibited this record from being
      saved:</h2>
    </div>
    <div class="panel-body">
      <ul>
        <% @record.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <% end %>
  <div class="tabbable-line">
    <ul id="editf" class="nav nav-tabs">
      <li class="active">
        <a href="#standart" data-toggle="tab">
          <%= t('standart_field') %></a>
        </li>
        <li>
          <a href="#dop" data-toggle="tab">
            <%= t('dop_field') %></a>
          </li>
          <li>
            <a href="#seo" data-toggle="tab">
              <%= t('seo') %></a>
            </li>
      <% unless @record.id.nil? %>
            <% unless RecordType.find_by(model: 'Taxonomy').nil? %>
            <li>
              <%= link_to admin_records_taxonomypage_path(@record), method: :get, data: {confirm: 'You_have_saved?'} do %>
              <%= t('taxonomy') %>
              <% end %>
            </li>
            <% end %>
            <% unless RecordType.find_by(model: 'Cell').nil? %>
            <li>
              <%= link_to admin_records_relationpage_path(@record), method: :get, data: {confirm: 'You_have_saved?'} do %>
              <%= t('relation') %>
              <% end %>
            </li>
            <% end %>
      <% end %>
          </ul>
          <div class="tab-content">
            <div class="tab-pane active" id="standart">
              <% if @record.id.nil? %>
              <%= render "standart_field", f: @record_type %>
              <% else %>
              <%= render "standart_field", f: @record %>
              <% end %>
            </div>
            <div class="tab-pane" id="dop">
              <%= render "system_field", f: f %>
            </div>
            <div class="tab-pane" id="seo">
              <%= render "seomore", f: f %>
            </div>
            <div class="fixed_link">
              <span class="input-group-btn">
                <% if @record.id.nil? %>
                <%= f.submit t('save')+' '+@record_type.name, class: 'btn btn-primary' %>
                <% else %>
                <%= f.submit t('save')+' '+@record.record_type.name, class: 'btn btn-primary' %>
                <% end %>
                <%= render "link" %>
              </span>
            </div>
          </div>
        </div>
        <% end %>