<% if @record_type.id == 8 %>
    <%= paginate @celllists, views_prefix: 'admin' %>
    <table class="table table-striped table-bordered table-hover">
      <thead>
      <tr>
        <th>Id</th>

        <td>Код</td>

        <th><%= t(:title) %></th>
        <th>Артикул</th>
<th>Картинка</th>
        <th><%= t(:record_type) %></th>
        <th><%= t(:public) %></th>

        <th><%= t(:created) %></th>
        <th><%= t(:action) %></th>
      </tr>
      </thead>

      <tbody>
      <% @celllists.each do |st| %>
          <% main = st.records.first %>
          <tr>
            <td><%= main.id %></td>

                <td><%= field(st, 'kod') %></td>

            <td><%= title(main) %></td>
            <td><%= field(st, 'artikul') %></td>
            <td>
              <% img = field_image(main, 'glavnaya_kartinka', :thumb) %>
              <% if img.present? %>
                  <%= img %>
              <% else %>
                  <img src="/no_image.png" height="50px">
              <% end %>
            </td>
            <td><%= main.record_type.name %></td>
            <td>
              <% if main.public? %>
                  <i class="glyphicon glyphicon-ok-circle"></i>
              <% else %>
                  <i class="glyphicon glyphicon-remove-circle"></i>
              <% end %></td>

            <td><%= st.created_at %></td>
            <td><%= link_to '', admin_record_path(main), class: 'glyphicon glyphicon-eye-open' %>
              <%= link_to '', edit_admin_record_path(main), class: 'glyphicon glyphicon-pencil' %>
              <%= link_to '', [:admin, main], method: :delete, data: {confirm: 'Are you sure?'}, class: 'glyphicon glyphicon-remove' %></td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <%= paginate @celllists, views_prefix: 'admin' %>
    <% else %>
<%= paginate @records, views_prefix: 'admin' %>
<table class="table table-striped table-bordered table-hover">
  <thead>
  <tr>
    <th>Id</th>
    <th><%= t(:title) %></th>

    <th><%= t(:record_type) %></th>
    <th><%= t(:public) %></th>
    <th><%= t(:sticky) %></th>
    <th><%= t(:created) %></th>
    <th><%= t(:action) %></th>
  </tr>
  </thead>

  <tbody>
  <% @records.each do |record| %>
      <tr>
        <td><%= record.id %></td>

        <td><%= title(record) %></td>

        <td><%= record.record_type.name %></td>
        <td>
          <% if record.public? %>
              <i class="glyphicon glyphicon-ok-circle"></i>
          <% else %>
              <i class="glyphicon glyphicon-remove-circle"></i>
          <% end %></td>
        <td>
          <% if record.sticky? %>
              <i class="glyphicon glyphicon-ok-circle"></i>
          <% else %>
              <i class="glyphicon glyphicon-remove-circle"></i>
          <% end %></td>
        <td><%= record.created_at %></td>
        <td><%= link_to '', admin_record_path(record), class: 'glyphicon glyphicon-eye-open' %>
          <%= link_to '', edit_admin_record_path(record), class: 'glyphicon glyphicon-pencil' %>
          <%= link_to '', [:admin, record], method: :delete, data: {confirm: 'Are you sure?'}, class: 'glyphicon glyphicon-remove' %></td>
      </tr>
  <% end %>
  </tbody>
</table>
<%= paginate @records, views_prefix: 'admin' %>
<% end %>