<%= f.fields_for :seomore, html: {class: 'seomore'} do |fs| %>
    <div class="well">
      <div class="form-group form-md-line-input form-md-floating-label">
        <%= fs.text_field :title, class: 'form-control', id: 'form_control_1' %>
        <label for="form_control_1"><%= t(:title) %></label>
        <span class="help-block"><%= t('titledesc') %></span>
      </div>
    </div>
    <div class="well">
      <div class="form-group form-md-line-input form-md-floating-label">
        <%= fs.text_field :keywords, class: 'form-control', id: 'form_control_1' %>
        <label for="form_control_1"><%= t(:keywords) %></label>
        <span class="help-block"><%= t('keywordsdesc') %></span>
      </div>
    </div>
    <div class="well">
      <div class="form-group form-md-line-input form-md-floating-label">
        <%= fs.text_area :desc, class: 'form-control', id: 'form_control_1' %>
        <label for="form_control_1"><%= t(:desc) %></label>
        <span class="help-block"><%= t('descdesc') %></span>
      </div>
    </div>
    <div class="well">
      <div class="form-group md-checkbox">
        <%= fs.check_box :noindex, id: "checkbox30ic", class: "md-check" %>
        <label for="checkbox30ic">
          <span class="inc"></span>
          <span class="check"></span>
          <span class="box"></span>
          <%= t(:noindex) %> </label>
      </div>
    </div>
    <div class="well">
      <div class="form-group md-checkbox">
        <%= fs.check_box :nofollow, id: "checkbox30fc", class: "md-check" %>
        <label for="checkbox30fc">
          <span class="inc"></span>
          <span class="check"></span>
          <span class="box"></span>
          <%= t(:nofollow) %> </label>
      </div>
    </div>
    <div class="well">
      <div class="form-group form-md-line-input form-md-floating-label">
        <%= fs.text_field :canonical, class: 'form-control', id: 'form_control_1' %>
        <label for="form_control_1"><%= t(:canonical) %></label>
        <span class="help-block"><%= t('canonicaldesc') %></span>
      </div>
    </div>
    <div class="well">
      <div class="form-group form-md-line-input form-md-floating-label">
        <%= fs.text_field :author, class: 'form-control', id: 'form_control_1' %>
        <label for="form_control_1"><%= t(:author) %></label>
        <span class="help-block"><%= t('authordesc') %></span>
      </div>
    </div>
    <div class="well">
      <div class="form-group form-md-line-input form-md-floating-label">
        <%= fs.text_field :publisher, class: 'form-control', id: 'form_control_1' %>
        <label for="form_control_1"><%= t(:publisher) %></label>
        <span class="help-block"><%= t('publisherdesc') %></span>
      </div>
    </div>
    <div class="well">
      <div class="form-group form-md-line-input form-md-floating-label">
        <%= fs.text_field :alternate, class: 'form-control', id: 'form_control_1' %>
        <label for="form_control_1"><%= t(:alternate) %></label>
        <span class="help-block"><%= t('alternatedesc') %></span>
      </div>
    </div>
    <div class="well">
      <div class="form-group form-md-line-input form-md-floating-label">
        <%= fs.text_field :refresh, class: 'form-control', id: 'form_control_1' %>
        <label for="form_control_1"><%= t(:refresh) %></label>
        <span class="help-block"><%= t('refreshdesc') %></span>
      </div>
    </div>

<% end %>
