<div class="well">
  <div class="form-group form-md-line-input form-md-floating-label">
    <%= f.text_field :url, class: 'form-control', id: 'form_control_1' %>
    <label for="form_control_1"><%= t(:url) %></label>
    <span class="help-block"><%= t('url_help') %></span>
  </div>
</div>
<div class="well">
  <div class="form-group form-md-line-input form-md-floating-label">
    <%= f.date_field :created_at, class: 'form-control', id: 'form_control_1' %>
    <label for="form_control_1"><%= t(:url) %></label>
    <span class="help-block"><%= t('url_help') %></span>
  </div>
</div>
<div class="well">
  <div class="form-group md-checkbox">
    <%= f.check_box :public, id: "checkbox30c", class: "md-check" %>
    <label for="checkbox30c">
      <span class="inc"></span>
      <span class="check"></span>
      <span class="box"></span>
      <%= t(:public) %> </label>
  </div>
</div>
<div class="well">
  <div class="form-group md-checkbox">
    <%= f.check_box :sticky, id: "checkbox1c", class: "md-check" %>
    <label for="checkbox1c">
      <span class="inc"></span>
      <span class="check"></span>
      <span class="box"></span>
      <%= t(:sticky) %> </label>
  </div>
</div>
<div class="well">
  <div class="form-group form-md-line-input form-md-floating-label">
    <%= f.text_field :menu_item_id, class: 'form-control', id: 'form_control_1' %>
    <label for="form_control_1"><%= t(:menur) %></label>
    <span class="help-block"><%= t('menurdesc') %></span>
  </div>
</div>
<div class="well">
  <div class="form-group form-md-line-input form-md-floating-label has-info">
    <% if params[:record_type_id].present? %>
        <%= f.collection_select :record_type_id, RecordType.where(model: 'Record').all, :id, :name, {selected: params[:record_type_id]}, {class: 'form-control edited', id: 'form_control_1'} %>
    <% else %>
        <%= f.collection_select :record_type_id, RecordType.where(model: 'Record').all, :id, :name, {}, {class: 'form-control edited', id: 'form_control_1'} %>
    <% end %>
    <label for="form_control_1"><%= t(:type) %></label>
    <span class="help-block"><%= t(:type_desc) %></span>
  </div>
</div>