<%= paginate taxonomies, remote: true %>
<% taxonomies.each do |tax| %>
<li>
  <span class="listitem"><a href="/<%= tax.record_type.machine_name %>/<%= tax.url ? tax.url : '-' %>" target="_blank"><%= tax.id %>
    - <%= tax.title %></a></span>
    <span class="listitem pub"><% if tax.public %>
      <i class="glyphicon glyphicon-ok-circle"></i>
      <% else %>
      <i class="glyphicon glyphicon-remove-circle"></i>
      <% end %>
    </span>
    <span class="listitem act">
      <%= form_for([:admin, @mr], remote: true) do |f| %>
      <%= f.hidden_field :mid, value: tax.id %>
      <%= f.hidden_field :model, value: tax.model_name.name %>
      <%= f.hidden_field :mid_main, value: @record.id %>
      <%= f.hidden_field :model_main, value: @record.model_name.name %>
      <%= f.hidden_field :record_type, value: tax.record_type.machine_name %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <%= f.submit '+' %>
      <% end %>
    </span>
    <% if tax.has_children? %>
    <ul>
      <% tax.children.each do |child| %>
      <li>
        <span class="listitem"><a href="/<%= child.record_type.machine_name %>/<%= child.url ? child.url : '-' %>" target="_blank"><%= child.id %>
          - <%= child.title %></a></span>
          <span class="listitem pub"><% if child.public %>
            <i class="glyphicon glyphicon-ok-circle"></i>
            <% else %>
            <i class="glyphicon glyphicon-remove-circle"></i>
            <% end %>
          </span>
          <span class="listitem act">
            <%= form_for([:admin, @mr], remote: true) do |f| %>
            <%= f.hidden_field :mid, value: child.id %>
            <%= f.hidden_field :model, value: child.model_name.name %>
            <%= f.hidden_field :mid_main, value: @record.id %>
            <%= f.hidden_field :model_main, value: @record.model_name.name %>
            <%= f.hidden_field :record_type, value: child.record_type.machine_name %>
            <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
            <%= f.submit '+' %>
            <% end %>
          </span>
          <% if child.has_children? %>
          <ul>
            <% child.children.each do |child2| %>
            <li>
              <span class="listitem"><a href="/<%= child2.record_type.machine_name %>/<%= child2.url ? child2.url : '-' %>" target="_blank"><%= child2.id %>
                - <%= child2.title %></a></span>
                <span class="listitem pub"><% if child2.public %>
                  <i class="glyphicon glyphicon-ok-circle"></i>
                  <% else %>
                  <i class="glyphicon glyphicon-remove-circle"></i>
                  <% end %>
                </span>
                <span class="listitem act">
                  <%= form_for([:admin, @mr], remote: true) do |f| %>
                  <%= f.hidden_field :mid, value: child2.id %>
                  <%= f.hidden_field :model, value: child2.model_name.name %>
                  <%= f.hidden_field :mid_main, value: @record.id %>
                  <%= f.hidden_field :model_main, value: @record.model_name.name %>
                  <%= f.hidden_field :record_type, value: child2.record_type.machine_name %>
                  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                  <%= f.submit '+' %>
                  <% end %>
                </span>
                <% if child2.has_children? %>
                <ul>
                  <% child2.children.each do |child3| %>
                  <li>
                    <span class="listitem"><a href="/<%= child3.record_type.machine_name %>/<%= child3.url ? child3.url : '-' %>" target="_blank"><%= child3.id %>
                      - <%= child3.title %></a></span>
                      <span class="listitem pub"><% if child3.public %>
                        <i class="glyphicon glyphicon-ok-circle"></i>
                        <% else %>
                        <i class="glyphicon glyphicon-remove-circle"></i>
                        <% end %>
                      </span>
                      <span class="listitem act">
                        <%= form_for([:admin, @mr], remote: true) do |f| %>
                        <%= f.hidden_field :mid, value: child3.id %>
                        <%= f.hidden_field :model, value: child3.model_name.name %>
                        <%= f.hidden_field :mid_main, value: @record.id %>
                        <%= f.hidden_field :model_main, value: @record.model_name.name %>
                        <%= f.hidden_field :record_type, value: child3.record_type.machine_name %>
                        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                        <%= f.submit '+' %>
                        <% end %>
                      </span>

                    </li>
                    <% end %>
                  </ul>
                  <% end %>
                </li>
                <% end %>
              </ul>
              <% end %>
            </li>
            <% end %>
          </ul>
          <% end %>

          <li>
            <% end %>
            <%= paginate taxonomies, remote: true %>