<div class="row">
  <div class="col-md-6">
    <div class="portlet box purple">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-pin"></i>
          <span class="caption-subject bold uppercase"> <%= t('Current_relation_taxonomy') %></span>
        </div>
      </div>
      <div class="portlet-body">
        <ul id="current-taxonomy">

          <%= render :partial => 'current_taxonomy_list', locals: {record: @record} %>

        </ul>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="portlet box green">
      <div class="portlet-title">
        <div class="caption">
          <i class="icon-pin"></i>
          <span class="caption-subject bold uppercase"> <%= t('Search_and_add_relation_taxonomy') %></span>
        </div>
      </div>
      <div class="portlet-body form">
        <div class="btn-group">
          <%= search_form_for @searchtax, url: admin_records_taxonomypage_path(@record), remote: true do |f| %>
              <div class="col-md-3">
                <div class="form-group form-md-line-input form-md-floating-label">
                  <%= f.collection_select :record_type_id_eq, RecordType.where(model: 'Taxonomy').all, :id, :name, {}, {class: 'form-control edited', id: 'form_control_1'} %>
                  <label for="form_control_1"><%= t(:type) %></label>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group md-checkbox">
                  <%= f.check_box :public_eq, :checked => 'checked', id: "checkbox29", class: "md-check" %>
                  <label for="checkbox29">
                    <span class="inc"></span>
                    <span class="check"></span>
                    <span class="box"></span>
                    <%= t(:publiced) %> </label>
                </div>
              </div>
              <div class="col-md-3">
              <span class="input-group-btn btn-right">
    <%= f.submit t('search'), class: 'btn btn-primary' %>
                        </span>
              </div>
          <% end %>
        </div>

        <% if @taxonomies.present? %>
            <ul id="sortable-taxonomy">
              <% unless @taxonomies.empty? %>
                  <%= render :partial => 'taxonomy_list', locals: {taxonomies: @taxonomies} %>
              <% end %>
            </ul>
        <% end %>

      </div>

    </div>
  </div>
</div>