<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('listing records') %>
  <small><%= t('records desc index') %></small>
</h3>

<div class="well">

  <table class="table table-striped table-bordered table-hover">
    <thead>
    <tr>
      <th>Id</th>
      <th><%= t(:title) %></th>
      <th><%= t(:description) %></th>
      <th><%= t(:count) %></th>
      <th><%= t(:action) %></th>
    </tr>
    </thead>

    <tbody>
    <% @record_type_records.each do |record_library| %>
        <tr>
          <td><%= record_library.id %></td>
          <td><%= record_library.name %></td>
          <td><%= record_library.desc %></td>
          <td><%= record_library.records.count %></td>
          <td>
          <a href="/admin/records/new?utf8=✓&record_type_id%5D=<%= record_library.id %>" class="glyphicon glyphicon-plus"></a>
          <%= link_to '', admin_records_list_path(record_library), class: 'glyphicon glyphicon-list-alt' %>
            <%= link_to '', edit_admin_record_type_path(record_library), class: 'glyphicon glyphicon-pencil' %>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>

