<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('listing records') %>
  <small><%= t('records desc index') %> <a href="/admin/records/new?utf8=✓&record_type_id%5D=<%= @record_type.id %>" class="btn btn-primary"><span class="glyphicon glyphicon-plus"></span></a></small>
</h3>

<div class="well">
    <div clas="list">
    <% if @record_type.id == 8 %>
      <%= search_form_for @cell, url: admin_records_list_url do |f| %>

              <%= f.text_field :harakteristikis_translations_value_cont, placeholder: "Все наименования" %>

<%= f.search_field :artikuls_value_eq, id: "in-6", placeholder: "Введите артикул" %>
          <%= f.search_field :kods_value_eq, id: "in-6", placeholder: "Введите код" %>

          <%= f.submit 'Поиск' %>
      <% end %>
          <% end %>
      <%= render "list" %>
      </div>
    </div>
