<ul class="nav nav-tabs ">
  <li class="active">
    <a href="#tab_1" data-toggle="tab">
      <%= t('standart_field') %></a>
  </li>
  <li>
    <a href="#tab_2" data-toggle="tab">
      <%= t('dop_field') %></a>
  </li>
</ul>
