<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t('show record') %>
</h3>
<%= link_to t(:edit), edit_admin_record_path(@record), class: 'btn btn-default' %>
<%= link_to t(:back), admin_records_path, class: 'btn btn-default' %>