<%= render 'admin/shared/default/breadcrumbs' %>
<h3 class="page-title">
  <%= t(:taxonomy) %> <%= @record.record_type.name %> - <%= @record.title %>
</h3>
<div class="tabbable-line">
  <ul id="editf" class="nav nav-tabs">
    <li>
      <a href="<%= edit_admin_record_path(@record) %>">
        <%= t('standart_field') %></a>
    </li>
    <li>
      <a href="<%= edit_admin_record_path(@record) %>#dop">
        <%= t('dop_field') %></a>
    </li>
    <li>
      <a href="<%= edit_admin_record_path(@record) %>#seo">
        <%= t('seo') %></a>
    </li>
    <li class="active">
      <%= link_to admin_records_taxonomypage_path(@record), method: :get do %>
          <%= t('taxonomy') %>
      <% end %>
    </li>
    <li>
      <%= link_to admin_records_relationpage_path(@record), method: :get do %>
          <%= t('relation') %>
      <% end %>
    </li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active">
      <%= render "taxon" %>
    </div>
  </div>
</div>