<!DOCTYPE html>
<html>
<head>
  <title>Iteasycmf</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href="/feeds" rel="alternate" title="RSS feed" type="application/rss+xml">
  <%= csrf_meta_tags %>
</head>
<body>
<%= gflash %>

<%= yield %>

</body>
</html>
